<a href="https://colab.research.google.com/github/ssingh1187/DS-Unit-2-Sprint-3-Advanced-Regression/blob/master/DS_Unit_2_Sprint_Challenge_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Unit 2 Sprint Challenge 3

## Logistic Regression and Beyond

In this sprint challenge you will fit a logistic regression modeling the probability of an adult having an income above 50K. The dataset is available at UCI:

https://archive.ics.uci.edu/ml/datasets/adult

Your goal is to:

1. Load, validate, and clean/prepare the data.
2. Fit a logistic regression model
3. Answer questions based on the results (as well as a few extra questions about the other modules)

Don't let the perfect be the enemy of the good! Manage your time, and make sure to get to all parts. If you get stuck wrestling with the data, simplify it (if necessary, drop features or rows) so you're able to move on. If you have time at the end, you can go back and try to fix/improve.

### Hints

It has a variety of features - some are continuous, but many are categorical. You may find [pandas.get_dummies](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.get_dummies.html) (a method to one-hot encode) helpful!

The features have dramatically different ranges. You may find [sklearn.preprocessing.minmax_scale](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.minmax_scale.html#sklearn.preprocessing.minmax_scale) helpful!

## Part 1 - Load, validate, and prepare data

The data is available at: https://archive.ics.uci.edu/ml/datasets/adult

Load it, name the columns, and make sure that you've loaded the data successfully. Note that missing values for categorical variables can essentially be considered another category ("unknown"), and may not need to be dropped.

You should also prepare the data for logistic regression - one-hot encode categorical features as appropriate.

In [0]:
# age: continuous.
# workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
# fnlwgt: continuous.
# education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
# education-num: continuous.
# marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
# occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
# relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
# race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
# sex: Female, Male.
# capital-gain: continuous.
# capital-loss: continuous.
# hours-per-week: continuous.
# native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.

In [130]:
# To remember: Missing values cannot be dropped

import pandas as pd

data_df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data', header=None,
                     names=['age','workclass','fnlwgt','education','education_num', 'marital_status',
                            'occupation','relationship','race','sex','capital_gain','capital_loss',
                            'hours_per_week','native_country', 'income'])
print(data_df.shape)
data_df.head()

(32561, 15)

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [131]:
# to find null values

data_df.isna().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

In [0]:
# To find value counts of all columns: df.apply(pd.value_counts)

# print(data_df.apply(pd.value_counts))

# Does not work

In [132]:
import numpy as np
data_df = data_df.replace('?', np.nan)
data_df.isna().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

In [133]:
# Finding '?' using trail and error method

#data_df.age
data_df.workclass

0                State-gov
1         Self-emp-not-inc
2                  Private
3                  Private
4                  Private
5                  Private
6                  Private
7         Self-emp-not-inc
8                  Private
9                  Private
10                 Private
11               State-gov
12                 Private
13                 Private
14                 Private
15                 Private
16        Self-emp-not-inc
17                 Private
18                 Private
19        Self-emp-not-inc
20                 Private
21                 Private
22             Federal-gov
23                 Private
24                 Private
25               Local-gov
26                 Private
27                       ?
28                 Private
29                 Private
               ...
32531                    ?
32532              Private
32533              Private
32534              Private
32535              Private
32536              Private
32537              Private
32538              Private
32539                    ?
32540            State-gov
32541                    ?
32542                    ?
32543            Local-gov
32544              Private
32545            Local-gov
32546              Private
32547              Private
32548     Self-emp-not-inc
32549            State-gov
32550     Self-emp-not-inc
32551              Private
32552              Private
32553              Private
32554              Private
32555              Private
32556              Private
32557              Private
32558              Private
32559              Private
32560         Self-emp-inc
Name: workclass, Length: 32561, dtype: object

In [134]:
# there are '?' values for sure. Maybe there are some white spaces before or after '?'..

data_df.loc[data_df['workclass']==' ?']

# white space before '?' is confirmed

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
61,32,?,293936,7th-8th,4,Married-spouse-absent,?,Not-in-family,White,Male,0,0,40,?,<=50K
69,25,?,200681,Some-college,10,Never-married,?,Own-child,White,Male,0,0,40,United-States,<=50K
77,67,?,212759,10th,6,Married-civ-spouse,?,Husband,White,Male,0,0,2,United-States,<=50K
106,17,?,304873,10th,6,Never-married,?,Own-child,White,Female,34095,0,32,United-States,<=50K
128,35,?,129305,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,40,United-States,<=50K
149,43,?,174662,Some-college,10,Divorced,?,Not-in-family,White,Female,0,0,40,United-States,<=50K
154,52,?,252903,HS-grad,9,Divorced,?,Not-in-family,White,Male,0,0,45,United-States,>50K
160,68,?,38317,1st-4th,2,Divorced,?,Not-in-family,White,Female,0,0,20,United-States,<=50K
187,53,?,135105,Bachelors,13,Divorced,?,Not-in-family,White,Female,0,0,50,United-States,<=50K
201,19,?,170653,HS-grad,9,Never-married,?,Own-child,White,Male,0,0,40,Italy,<=50K
221,64,?,187656,1st-4th,2,Divorced,?,Not-in-family,White,Male,0,0,40,United-States,<=50K
226,60,?,24215,10th,6,Divorced,?,Not-in-family,Amer-Indian-Eskimo,Female,0,0,10,United-States,<=50K
243,20,?,119156,Some-college,10,Never-married,?,Own-child,White,Male,0,0,20,United-States,<=50K
266,19,?,218956,Some-college,10,Never-married,?,Own-child,White,Male,0,0,24,Canada,<=50K
297,39,?,157443,Masters,14,Married-civ-spouse,?,Wife,Asian-Pac-Islander,Female,3464,0,40,?,<=50K
312,19,?,860348,Some-college,10,Never-married,?,Own-child,Black,Female,0,0,25,United-States,<=50K
326,23,?,211601,Assoc-voc,11,Never-married,?,Own-child,Black,Female,0,0,15,United-States,<=50K
346,67,?,36135,11th,7,Married-civ-spouse,?,Husband,White,Male,0,0,8,United-States,<=50K
347,30,?,151989,Assoc-voc,11,Divorced,?,Unmarried,White,Female,0,0,40,United-States,<=50K
354,59,?,372020,Bachelors,13,Married-civ-spouse,?,Husband,White,Male,0,0,40,United-States,>50K
397,20,?,137300,HS-grad,9,Never-married,?,Other-relative,White,Female,0,0,35,United-States,<=50K
408,28,?,123147,Some-college,10,Married-civ-spouse,?,Wife,White,Female,0,1887,40,United-States,>50K
430,80,?,107762,HS-grad,9,Widowed,?,Not-in-family,White,Male,0,0,24,United-States,<=50K
431,17,?,202521,11th,7,Never-married,?,Own-child,White,Male,0,0,40,United-States,<=50K
449,17,?,258872,11th,7,Never-married,?,Own-child,White,Female,0,0,5,United-States,<=50K
459,32,?,115745,Some-college,10,Married-civ-spouse,?,Husband,White,Male,0,0,40,United-States,<=50K
471,22,?,139883,Some-college,10,Never-married,?,Own-child,White,Male,0,0,40,United-States,<=50K
484,52,?,271749,12th,8,Never-married,?,Other-relative,Black,Male,594,0,40,United-States,<=50K
486,63,?,401531,1st-4th,2,Married-civ-spouse,?,Husband,White,Male,0,0,35,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32016,62,?,178764,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,40,United-States,>50K
32039,24,?,108495,HS-grad,9,Never-married,?,Own-child,White,Male,0,0,40,United-States,<=50K
32062,26,?,375313,Some-college,10,Never-married,?,Own-child,Asian-Pac-Islander,Male,0,0,40,Philippines,<=50K
32070,18,?,97474,HS-grad,9,Never-married,?,Own-child,White,Female,0,0,20,United-States,<=50K
32073,65,?,192825,7th-8th,4,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
32075,27,?,147638,Masters,14,Never-married,?,Not-in-family,Other,Female,0,0,40,Japan,<=50K
32080,21,?,155697,9th,5,Never-married,?,Own-child,White,Male,0,0,42,United-States,<=50K
32083,51,?,43909,HS-grad,9,Divorced,?,Unmarried,Black,Female,0,0,40,United-States,<=50K
32088,21,?,78374,HS-grad,9,Never-married,?,Other-relative,Asian-Pac-Islander,Female,0,0,24,United-States,<=50K
32093,62,?,263374,Assoc-voc,11,Married-civ-spouse,?,Husband,White,Male,0,0,40,Canada,<=50K
32103,34,?,330301,7th-8th,4,Separated,?,Unmarried,Black,Female,0,0,40,United-States,<=50K
32189,19,?,204868,HS-grad,9,Married-civ-spouse,?,Wife,White,Female,0,0,36,United-States,<=50K
32201,49,?,113913,HS-grad,9,Married-civ-spouse,?,Wife,White,Female,0,0,60,United-States,<=50K
32206,72,?,96867,5th-6th,3,Widowed,?,Not-in-family,White,Female,0,0,40,United-States,<=50K
32275,20,?,99891,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
32291,59,?,120617,Some-college,10,Never-married,?,Not-in-family,Black,Female,0,0,40,United-States,<=50K
32310,21,?,205939,Some-college,10,Never-married,?,Own-child,White,Male,0,0,40,United-States,<=50K
32317,63,?,126540,Some-college,10,Divorced,?,Not-in-family,White,Female,0,0,5,United-States,<=50K
32335,18,?,156608,11th,7,Never-married,?,Own-child,White,Female,0,0,25,United-States,<=50K
32343,66,?,93318,HS-grad,9,Widowed,?,Unmarried,White,Female,0,0,40,United-States,<=50K
32426,20,?,203992,HS-grad,9,Never-married,?,Own-child,White,Male,0,0,40,United-States,<=50K
32477,49,?,114648,12th,8,Divorced,?,Other-relative,Black,Male,0,0,40,United-States,<=50K
32490,60,?,134152,9th,5,Divorced,?,Not-in-family,Black,Male,0,0,35,United-States,<=50K
32494,82,?,403910,HS-grad,9,Never-married,?,Not-in-family,White,Male,0,0,3,United-States,<=50K
32525,81,?,120478,Assoc-voc,11,Divorced,?,Unmarried,White,Female,0,0,1,?,<=50K
32530,35,?,320084,Bachelors,13,Married-civ-spouse,?,Wife,White,Female,0,0,55,United-States,>50K
32531,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32541,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32542,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K

In [135]:
data_df = data_df.replace(' ?', np.nan)#, inplace=True)

data_df.isna().sum()

# Haaa. Finally worked!

age                  0
workclass         1836
fnlwgt               0
education            0
education_num        0
marital_status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital_gain         0
capital_loss         0
hours_per_week       0
native_country     583
income               0
dtype: int64

In [136]:
# Since the NaN values are in categorical columns, I am going to use bfill or ffill
# For reference: https://towardsdatascience.com/the-tale-of-missing-values-in-python-c96beb0e8a9d

data_df = data_df.fillna(method='ffill')
data_df.isna().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

In [137]:
data_df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [140]:
# Since, income column is a categorical columns and also our target

data_df.income.replace({' <=50K': 0, ' >50K': 1}, inplace=True)
data_df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

In [141]:
data_df.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education_num      int64
marital_status    object
occupation        object
relationship      object
race              object
sex               object
capital_gain       int64
capital_loss       int64
hours_per_week     int64
native_country    object
income             int64
dtype: object

####One-hot encode

In [143]:
# # For reference: https://towardsdatascience.com/the-dummys-guide-to-creating-dummy-variables-f21faddb1d40

# # selecting numeric columns
# numeric_cols = data_df.select_dtypes('number')
# categorical_cols = data_df.select_dtypes('object')

# # One-hot encode
# df2 = pd.get_dummies(data_df)

# print(df2.shape)
# df2.head()

(32561, 106)

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,income,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,...,native_country_ Portugal,native_country_ Puerto-Rico,native_country_ Scotland,native_country_ South,native_country_ Taiwan,native_country_ Thailand,native_country_ Trinadad&Tobago,native_country_ United-States,native_country_ Vietnam,native_country_ Yugoslavia
0,39,77516,13,2174,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,50,83311,13,0,0,13,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,38,215646,9,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,53,234721,7,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,28,338409,13,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [0]:
# shape is not preserved, but no time

## Part 2 - Fit and present a Logistic Regression

Your data should now be in a state to fit a logistic regression. Use scikit-learn, define your `X` (independent variable) and `y`, and fit a model.

Then, present results - display coefficients in as interpretible a way as you can (hint - scaling the numeric features will help, as it will at least make coefficients more comparable to each other). If you find it helpful for interpretation, you can also generate predictions for cases (like our 5 year old rich kid on the Titanic) or make visualizations - but the goal is your exploration to be able to answer the question, not any particular plot (i.e. don't worry about polishing it).

It is *optional* to use `train_test_split` or validate your model more generally - that is not the core focus for this week. So, it is suggested you focus on fitting a model first, and if you have time at the end you can do further validation.

In [152]:
# Defining dependent and independent variables

import sklearn
from sklearn.preprocessing import MinMaxScaler

X = df2
y = data_df['income']

X_scaled = sklearn.preprocessing.minmax_scale(X, feature_range=(0, 1), axis=0, copy=True)
X_scaled

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: DataConversionWarning: Data with input dtype uint8, int64 were all converted to float64.
  """

array([[0.30136986, 0.0443019 , 0.8       , ..., 1.        , 0.        ,
        0.        ],
       [0.45205479, 0.0482376 , 0.8       , ..., 1.        , 0.        ,
        0.        ],
       [0.28767123, 0.13811345, 0.53333333, ..., 1.        , 0.        ,
        0.        ],
       ...,
       [0.56164384, 0.09482688, 0.53333333, ..., 1.        , 0.        ,
        0.        ],
       [0.06849315, 0.12849934, 0.53333333, ..., 1.        , 0.        ,
        0.        ],
       [0.47945205, 0.18720338, 0.53333333, ..., 1.        , 0.        ,
        0.        ]])

In [155]:
# Defining dependent and independent variables

from sklearn.linear_model import LogisticRegression

model = LogisticRegression(solver = 'lbfgs')
df_reg = model.fit(X_scaled, y)
df_reg

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='lbfgs',
          tol=0.0001, verbose=0, warm_start=False)

## Part 3 - Analysis, Interpretation, and Questions

### Based on your above model, answer the following questions

1. What are 3 features positively correlated with income above 50k?
2. What are 3 features negatively correlated with income above 50k?
3. Overall, how well does the model explain the data and what insights do you derive from it?

*These answers count* - that is, make sure to spend some time on them, connecting to your analysis above. There is no single right answer, but as long as you support your reasoning with evidence you are on the right track.

Note - scikit-learn logistic regression does *not* automatically perform a hypothesis test on coefficients. That is OK - if you scale the data they are more comparable in weight.

### Match the following situation descriptions with the model most appropriate to addressing them

In addition to logistic regression, a number of other approaches were covered this week. Pair them with the situations they are most appropriate for, and briefly explain why.

Situations:
1. You are given data on academic performance of primary school students, and asked to fit a model to help predict "at-risk" students who are likely to receive the bottom tier of grades.
2. You are studying tech companies and their patterns in releasing new products, and would like to be able to model and predict when a new product is likely to be launched.
3. You are working on modeling expected plant size and yield with a laboratory that is able to capture fantastically detailed physical data about plants, but only of a few dozen plants at a time.

Approaches:
1. Ridge Regression
2. Quantile Regression
3. Survival Analysis

**TODO - your answers!**