<a href="https://colab.research.google.com/github/a-apte/DS-Unit-2-Sprint-3-Advanced-Regression/blob/master/LS_DS_231_Logistic_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lambda School Data Science - Logistic Regression

Logistic regression is the baseline for classification models, as well as a handy way to predict probabilities (since those too live in the unit interval). While relatively simple, it is also the foundation for more sophisticated classification techniques such as neural networks (many of which can effectively be thought of as networks of logistic models).

## Lecture - Where Linear goes Wrong
### Return of the Titanic 

You've likely already explored the rich dataset that is the Titanic - let's use regression and try to predict survival with it. The data is [available from Kaggle](https://www.kaggle.com/c/titanic/data), so we'll also play a bit with [the Kaggle API](https://github.com/Kaggle/kaggle-api).

### KAGGLE TITANIC

In [0]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.1.1)
Requirement already satisfied: urllib3<1.23.0,>=1.15 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.22)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.11.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2018.11.29)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.5.3)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.18.4)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.28.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.0.1)
Requirement already satisfied: idna<2.7,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.6)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: Unidecode>=0.04.16 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.0.23)

In [0]:
# Note - you'll also have to sign up for Kaggle and authorize the API
# https://github.com/Kaggle/kaggle-api#api-credentials

# Key = "6aa390ba6abbed908ad0d11e6462b361"

# This essentially means uploading a kaggle.json file
# For Colab we can have it in Google Drive
from google.colab import drive
drive.mount('/content/drive', force_remount=True)
%env KAGGLE_CONFIG_DIR=/content/drive/My Drive/

# %env KAGGLE_CONFIG_DIR=/content/drive/My Drive/
# You also have to join the Titanic competition to have access to the data
!kaggle competitions download -c titanic

'4/2wAbQo_duwUu8dpiGQSW4jdaWYGwcWWE5TudaR8Gecy8LviGTzyAXAA'

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
路路路路路路路路路路
Mounted at /content/drive
env: KAGGLE_CONFIG_DIR=/content/drive/My Drive/
Downloading train.csv to /content
  0% 0.00/59.8k [00:00<?, ?B/s]
100% 59.8k/59.8k [00:00<00:00, 51.1MB/s]
Downloading test.csv to /content
  0% 0.00/28.0k [00:00<?, ?B/s]
100% 28.0k/28.0k [00:00<00:00, 23.7MB/s]
Downloading gender_submission.csv to /content
  0% 0.00/3.18k [00:00<?, ?B/s]
100% 3.18k/3.18k [00:00<00:00, 2.94MB/s]

In [0]:
# How would we try to do this with linear regression?
import pandas as pd

train_df = pd.read_csv('train.csv').dropna()
test_df = pd.read_csv('test.csv').dropna()  # Unlabeled, for Kaggle submission
print (train_df.shape)
print (test_df.shape)
train_df.head()

(183, 12)
(87, 11)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S

In [0]:
train_df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000
mean,455.366120,0.672131,1.191257,35.674426,0.464481,0.475410,78.682469
std,247.052476,0.470725,0.515187,15.643866,0.644159,0.754617,76.347843
min,2.000000,0.000000,1.000000,0.920000,0.000000,0.000000,0.000000
25%,263.500000,0.000000,1.000000,24.000000,0.000000,0.000000,29.700000
50%,457.000000,1.000000,1.000000,36.000000,0.000000,0.000000,57.000000
75%,676.000000,1.000000,1.000000,47.500000,1.000000,1.000000,90.000000
max,890.000000,1.000000,3.000000,80.000000,3.000000,4.000000,512.329200

In [0]:
from sklearn.linear_model import LinearRegression

X = train_df[['Pclass', 'Age', 'Fare']] # Training Regression model on these 3 features

y = train_df.Survived

linear_reg = LinearRegression().fit(X, y)
linear_reg.score(X, y)

0.08389810726550917

In [0]:
linear_reg.predict(test_df[['Pclass', 'Age', 'Fare']]) # Prediction

array([0.79543117, 0.58610823, 0.67595121, 0.793829  , 0.62090522,
       0.72542107, 0.59848968, 0.58734245, 0.48567063, 0.77627736,
       0.84211887, 0.57052439, 0.7754689 , 0.96621114, 0.70287941,
       0.57673837, 0.72321391, 0.75894755, 0.77968041, 0.50246003,
       0.49858077, 0.7474959 , 0.3542282 , 0.61648435, 0.71300224,
       0.66294608, 0.53175333, 0.77397395, 0.68419387, 0.68395536,
       0.52041202, 0.56814038, 0.79586606, 0.81372012, 0.61068545,
       0.57260627, 0.52525981, 0.58055388, 0.45584728, 0.67976208,
       0.8226707 , 0.84286197, 0.96189157, 0.66724612, 0.68589478,
       0.61846513, 0.63455044, 0.68275686, 0.65738372, 0.45198998,
       0.59988596, 0.63845908, 0.63132487, 0.7888473 , 0.60126246,
       0.79714045, 0.78713803, 0.54643775, 0.42823635, 0.7711724 ,
       0.53552976, 0.55608044, 0.54480459, 0.57031915, 0.65080369,
       0.77958926, 0.6371013 , 0.70993488, 0.71493598, 0.60375943,
       0.54407206, 0.48186138, 0.76576089, 0.75456305, 0.53968359,
       0.53814461, 0.51431245, 0.80091026, 0.54231482, 0.8260362 ,
       0.58660686, 0.77766767, 0.60296337, 0.70098322, 0.63455044,
       0.68309915, 0.67573142])

In [0]:
linear_reg.coef_

array([-0.08596295, -0.00829314,  0.00048775])

In [0]:
import numpy as np

test_case = np.array([[1, 5, 500]])  # Rich 5-year old in first class
linear_reg.predict(test_case)

array([1.14845883])

**The problem with this prediction is that Survival has only two values: 0 and 1. This result is outside of the bounds of the binary ariable. One wishes to use a model that predicts either 0 or 1 in the final answer (classification). This is where Logistic Regression Comes in.**

In [0]:
from sklearn.linear_model import LogisticRegression

log_reg = LogisticRegression().fit(X, y)
log_reg.score(X, y)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.7103825136612022

In [0]:
log_reg.predict(test_df[['Pclass', 'Age', 'Fare']])

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [0]:
log_reg.predict(test_case)[0]

1

**This prediction comes from the score based on the inputs. The Logistic Regression model has an intermediate layer (score) that is a function of the feature inputs and is itself an input in a function that predicts the classification in the outcome variable.**

In [0]:
help(log_reg.predict)

Help on method predict in module sklearn.linear_model.base:

predict(X) method of sklearn.linear_model.logistic.LogisticRegression instance
    Predict class labels for samples in X.

    Parameters
    ----------
    X : array_like or sparse matrix, shape (n_samples, n_features)
        Samples.

    Returns
    -------
    C : array, shape [n_samples]
        Predicted class label per sample.

In [0]:
log_reg.predict_proba(test_case)[0]

array([0.02485552, 0.97514448])

In [0]:
# What's the math?
log_reg.coef_

array([[-0.0455017 , -0.02912513,  0.0048037 ]])

In [0]:
log_reg.intercept_

array([1.45878264])

In [0]:
# The logistic sigmoid "squishing" function, implemented to accept numpy arrays
def sigmoid(x):
  return 1 / (1 + np.e**(-x))

In [0]:
sigmoid(log_reg.intercept_ + np.dot(log_reg.coef_, np.transpose(test_case)))

array([[0.97514448]])

### ABSENTEEISM

So, clearly a more appropriate model in this situation! For more on the math, [see this Wikipedia example](https://en.wikipedia.org/wiki/Logistic_regression#Probability_of_passing_an_exam_versus_hours_of_study).

For live - let's tackle [another classification dataset on absenteeism](http://archive.ics.uci.edu/ml/datasets/Absenteeism+at+work) - it has 21 classes, but remember, scikit-learn LogisticRegression automatically handles more than two classes. How? By essentially treating each label as different (1) from some base class (0).

In [0]:
# Live - let's try absenteeism!

1. Individual identification (ID) 
2. Reason for absence (ICD). 
Absences attested by the International Code of Diseases (ICD) stratified into 21 categories (I to XXI) as follows: 

I Certain infectious and parasitic diseases 
II Neoplasms 
III Diseases of the blood and blood-forming organs and certain disorders involving the immune mechanism 
IV Endocrine, nutritional and metabolic diseases 
V Mental and behavioural disorders 
VI Diseases of the nervous system 
VII Diseases of the eye and adnexa 
VIII Diseases of the ear and mastoid process 
IX Diseases of the circulatory system 
X Diseases of the respiratory system 
XI Diseases of the digestive system 
XII Diseases of the skin and subcutaneous tissue 
XIII Diseases of the musculoskeletal system and connective tissue 
XIV Diseases of the genitourinary system 
XV Pregnancy, childbirth and the puerperium 
XVI Certain conditions originating in the perinatal period 
XVII Congenital malformations, deformations and chromosomal abnormalities 
XVIII Symptoms, signs and abnormal clinical and laboratory findings, not elsewhere classified 
XIX Injury, poisoning and certain other consequences of external causes 
XX External causes of morbidity and mortality 
XXI Factors influencing health status and contact with health services. 

And 7 categories without (CID) patient follow-up (22), medical consultation (23), blood donation (24), laboratory examination (25), unjustified absence (26), physiotherapy (27), dental consultation (28). 
3. Month of absence 
4. Day of the week (Monday (2), Tuesday (3), Wednesday (4), Thursday (5), Friday (6)) 
5. Seasons (summer (1), autumn (2), winter (3), spring (4)) 
6. Transportation expense 
7. Distance from Residence to Work (kilometers) 
8. Service time 
9. Age 
10. Work load Average/day 
11. Hit target 
12. Disciplinary failure (yes=1; no=0) 
13. Education (high school (1), graduate (2), postgraduate (3), master and doctor (4)) 
14. Son (number of children) 
15. Social drinker (yes=1; no=0) 
16. Social smoker (yes=1; no=0) 
17. Pet (number of pet) 
18. Weight 
19. Height 
20. Body mass index 
21. Absenteeism time in hours (target)

In [0]:
from google.colab import files
uploaded = files.upload()

Saving Absenteeism_at_work_AAA.zip to Absenteeism_at_work_AAA.zip

In [0]:
# !wget https://os.unil.cloud.switch.ch/fma/fma_metadata.zip
!unzip Absenteeism_at_work_AAA.zip

Archive:  Absenteeism_at_work_AAA.zip
  inflating: Absenteeism_at_work.arff
  inflating: Absenteeism_at_work.csv
  inflating: Absenteeism_at_work.xls
  inflating: Attribute Information.docx
  inflating: UCI_ABS_TEXT.docx

In [0]:
df_absentee = pd.read_csv('Absenteeism_at_work.csv', sep=';')

print(df_absentee.shape)
df_absentee.head()

(740, 21)

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
0,11,26,7,3,1,289,36,13,33,239.554,...,0,1,2,1,0,1,90,172,30,4
1,36,0,7,3,1,118,13,18,50,239.554,...,1,1,1,1,0,0,98,178,31,0
2,3,23,7,4,1,179,51,18,38,239.554,...,0,1,0,1,0,0,89,170,31,2
3,7,7,7,5,1,279,5,14,39,239.554,...,0,1,2,1,1,0,68,168,24,4
4,11,23,7,5,1,289,36,13,33,239.554,...,0,1,2,1,0,1,90,172,30,2

In [0]:
df_absentee.dtypes

ID                                   int64
Reason for absence                   int64
Month of absence                     int64
Day of the week                      int64
Seasons                              int64
Transportation expense               int64
Distance from Residence to Work      int64
Service time                         int64
Age                                  int64
Work load Average/day              float64
Hit target                           int64
Disciplinary failure                 int64
Education                            int64
Son                                  int64
Social drinker                       int64
Social smoker                        int64
Pet                                  int64
Weight                               int64
Height                               int64
Body mass index                      int64
Absenteeism time in hours            int64
dtype: object

In [0]:
df_absentee.isnull().sum()

ID                                 0
Reason for absence                 0
Month of absence                   0
Day of the week                    0
Seasons                            0
Transportation expense             0
Distance from Residence to Work    0
Service time                       0
Age                                0
Work load Average/day              0
Hit target                         0
Disciplinary failure               0
Education                          0
Son                                0
Social drinker                     0
Social smoker                      0
Pet                                0
Weight                             0
Height                             0
Body mass index                    0
Absenteeism time in hours          0
dtype: int64

In [0]:
df_absentee.describe().T

,count,mean,std,min,25%,50%,75%,max
ID,740.0,18.017568,11.021247,1.000,9.000,18.000,28.000,36.000
Reason for absence,740.0,19.216216,8.433406,0.000,13.000,23.000,26.000,28.000
Month of absence,740.0,6.324324,3.436287,0.000,3.000,6.000,9.000,12.000
Day of the week,740.0,3.914865,1.421675,2.000,3.000,4.000,5.000,6.000
Seasons,740.0,2.544595,1.111831,1.000,2.000,3.000,4.000,4.000
Transportation expense,740.0,221.329730,66.952223,118.000,179.000,225.000,260.000,388.000
Distance from Residence to Work,740.0,29.631081,14.836788,5.000,16.000,26.000,50.000,52.000
Service time,740.0,12.554054,4.384873,1.000,9.000,13.000,16.000,29.000
Age,740.0,36.450000,6.478772,27.000,31.000,37.000,40.000,58.000
Work load Average/day,740.0,271.490235,39.058116,205.917,244.387,264.249,294.217,378.884
Hit target,740.0,94.587838,3.779313,81.000,93.000,95.000,97.000,100.000
Disciplinary failure,740.0,0.054054,0.226277,0.000,0.000,0.000,0.000,1.000
Education,740.0,1.291892,0.673238,1.000,1.000,1.000,1.000,4.000
Son,740.0,1.018919,1.098489,0.000,0.000,1.000,2.000,4.000
Social drinker,740.0,0.567568,0.495749,0.000,0.000,1.000,1.000,1.000
Social smoker,740.0,0.072973,0.260268,0.000,0.000,0.000,0.000,1.000
Pet,740.0,0.745946,1.318258,0.000,0.000,0.000,1.000,8.000
Weight,740.0,79.035135,12.883211,56.000,69.000,83.000,89.000,108.000
Height,740.0,172.114865,6.034995,163.000,169.000,170.000,172.000,196.000
Body mass index,740.0,26.677027,4.285452,19.000,24.000,25.000,31.000,38.000
Absenteeism time in hours,740.0,6.924324,13.330998,0.000,2.000,3.000,8.000,120.000

In [0]:
# Predicting Disciplinary failure based on 

X_cols = ['Age', 'Weight', 'Height', 'Absenteeism time in hours', 'Social drinker', 'Social smoker']
X = df_absentee[X_cols]
y = df_absentee['Disciplinary failure']

In [0]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=237)

print (X_train.shape)
print (X_test.shape)
print (y_train.shape)
print (y_test.shape)

(370, 6)
(370, 6)
(370,)
(370,)

In [0]:
log_reg = LogisticRegression().fit(X_train, y_train)
log_reg.score(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.9918918918918919

In [0]:
log_reg.predict(X_test)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [0]:
log_reg.coef_

array([[ 0.04548224, -0.03165469,  0.01054776, -3.53558344,  0.18817468,
         0.3649887 ]])

In [0]:
log_reg.intercept_

array([0.00278559])

In [0]:
from sklearn.metrics import accuracy_score

y_pred = log_reg.predict(X_test)

accuracy_score(y_test, y_pred)

0.9972972972972973

### Assignment - real-world classification

We're going to check out a larger dataset - the [FMA Free Music Archive data](https://github.com/mdeff/fma). It has a selection of CSVs with metadata and calculated audio features that you can load and try to use to classify genre of tracks. To get you started:

In [1]:
!wget https://os.unil.cloud.switch.ch/fma/fma_metadata.zip
!unzip fma_metadata.zip

--2019-01-25 04:46:50--  https://os.unil.cloud.switch.ch/fma/fma_metadata.zip
Resolving os.unil.cloud.switch.ch (os.unil.cloud.switch.ch)... 86.119.28.13, 2001:620:5ca1:2ff::ce53
Connecting to os.unil.cloud.switch.ch (os.unil.cloud.switch.ch)|86.119.28.13|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 358412441 (342M) [application/zip]
Saving to: fma_metadata.zip

fma_metadata.zip    100%[===================>] 341.81M  6.84MB/s    in 47s

2019-01-25 04:47:38 (7.27 MB/s) - fma_metadata.zip saved [358412441/358412441]

Archive:  fma_metadata.zip
 bunzipping: fma_metadata/README.txt
 bunzipping: fma_metadata/checksums
 bunzipping: fma_metadata/not_found.pickle
 bunzipping: fma_metadata/raw_genres.csv
 bunzipping: fma_metadata/raw_albums.csv
 bunzipping: fma_metadata/raw_artists.csv
 bunzipping: fma_metadata/raw_tracks.csv
 bunzipping: fma_metadata/tracks.csv
 bunzipping: fma_metadata/genres.csv
 bunzipping: fma_metadata/raw_echonest.csv
 bunzipping: fma_metadata/echonest.csv
 bunzipping: fma_metadata/features.csv

In [0]:
import pandas as pd

tracks = pd.read_csv('fma_metadata/tracks.csv', header=[0,1], index_col=0)

In [4]:
tracks.describe().T

                     count           mean            std         min  \
album  comments   106574.0       0.394946       2.268915   -1.000000
       favorites  106574.0       1.286927       3.133035   -1.000000
       id         106574.0   12826.933914    6290.261805   -1.000000
       listens    106574.0   32120.306182  147853.178406   -1.000000
       tracks     106574.0      19.721452      39.943673   -1.000000
artist comments   106574.0       1.894702       6.297679   -1.000000
       favorites  106574.0      30.041915     100.511408   -1.000000
       id         106574.0   12036.770404    6881.420867    1.000000
       latitude    44544.0      39.901626      18.240860  -45.878760
       longitude   44544.0     -38.668642      65.237220 -157.526855
track  bit_rate   106574.0  263274.695048   67623.443584   -1.000000
       comments   106574.0       0.031621       0.321993    0.000000
       duration   106574.0     277.849100     305.518553    0.000000
       favorites  106574.0       3.182521      13.513820    0.000000
       interest   106574.0    3541.310207   19017.430891    2.000000
       listens    106574.0    2329.353548    8028.070647    0.000000
       number     106574.0       8.260945      15.243271    0.000000

                            25%            50%           75%           max
album  comments        0.000000       0.000000       0.00000  5.300000e+01
       favorites       0.000000       0.000000       1.00000  6.100000e+01
       id           7793.000000   13374.000000   18203.00000  2.294000e+04
       listens      3361.000000    8982.000000   23635.00000  3.564243e+06
       tracks          7.000000      11.000000      17.00000  6.520000e+02
artist comments        0.000000       0.000000       1.00000  7.900000e+01
       favorites       1.000000       5.000000      16.00000  9.630000e+02
       id           6443.000000   12029.500000   18011.00000  2.435700e+04
       latitude       39.271398      41.387917      48.85693  6.728601e+01
       longitude     -79.997459     -73.554431       4.35171  1.752770e+02
track  bit_rate   192000.000000  299914.000000  320000.00000  4.480000e+05
       comments        0.000000       0.000000       0.00000  3.700000e+01
       duration      149.000000     216.000000     305.00000  1.835000e+04
       favorites       0.000000       1.000000       3.00000  1.482000e+03
       interest      599.000000    1314.000000    3059.00000  3.293557e+06
       listens       292.000000     764.000000    2018.00000  5.432520e+05
       number          2.000000       5.000000       9.00000  2.550000e+02

In [5]:
pd.set_option('display.max_columns', None)  # Unlimited columns
tracks.head()

            album                                                     \
         comments         date_created        date_released engineer
track_id
2               0  2008-11-26 01:44:45  2009-01-05 00:00:00      NaN
3               0  2008-11-26 01:44:45  2009-01-05 00:00:00      NaN
5               0  2008-11-26 01:44:45  2009-01-05 00:00:00      NaN
10              0  2008-11-26 01:45:08  2008-02-06 00:00:00      NaN
20              0  2008-11-26 01:45:05  2009-01-06 00:00:00      NaN

                                                                          \
         favorites id                                information listens
track_id
2                4  1                                    <p></p>    6073
3                4  1                                    <p></p>    6073
5                4  1                                    <p></p>    6073
10               4  6                                        NaN   47632
20               2  4  <p>"spiritual songs" from Nicky Cook</p>    2710

                                                            \
         producer tags                 title tracks   type
track_id
2             NaN   []  AWOL - A Way Of Life      7  Album
3             NaN   []  AWOL - A Way Of Life      7  Album
5             NaN   []  AWOL - A Way Of Life      7  Album
10            NaN   []     Constant Hitmaker      2  Album
20            NaN   []                 Niris     13  Album

                       artist                       \
            active_year_begin      active_year_end
track_id
2         2006-01-01 00:00:00                  NaN
3         2006-01-01 00:00:00                  NaN
5         2006-01-01 00:00:00                  NaN
10                        NaN                  NaN
20        1990-01-01 00:00:00  2011-01-01 00:00:00

                                                             \
                                          associated_labels
track_id
2                                                       NaN
3                                                       NaN
5                                                       NaN
10        Mexican Summer, Richie Records, Woodsist, Skul...
20                                                      NaN

                                                                      \
                                                        bio comments
track_id
2         <p>A Way Of Life, A Collective of Hip-Hop from...        0
3         <p>A Way Of Life, A Collective of Hip-Hop from...        0
5         <p>A Way Of Life, A Collective of Hip-Hop from...        0
10        <p><span style="font-family:Verdana, Geneva, A...        3
20        <p>Songs written by: Nicky Cook</p>\n<p>VOCALS...        2

                                                                           \
                 date_created favorites id   latitude            location
track_id
2         2008-11-26 01:42:32         9  1  40.058324          New Jersey
3         2008-11-26 01:42:32         9  1  40.058324          New Jersey
5         2008-11-26 01:42:32         9  1  40.058324          New Jersey
10        2008-11-26 01:42:55        74  6        NaN                 NaN
20        2008-11-26 01:42:52        10  4  51.895927  Colchester England

                                                                        \
          longitude                                            members
track_id
2        -74.405661  Sajje Morocco,Brownbum,ZawidaGod,Custodian of ...
3        -74.405661  Sajje Morocco,Brownbum,ZawidaGod,Custodian of ...
5        -74.405661  Sajje Morocco,Brownbum,ZawidaGod,Custodian of ...
10              NaN                           Kurt Vile, the Violators
20         0.891874                                       Nicky Cook\n

                                                                         \
                name                                   related_projects
track_id
2               AWOL  The list of past projects is 2 long but every1...
3               AWOL  The list of past projects is 2 long but every1...
5               AWOL  The list of past projects is 2 long but every1...
10         Kurt Vile                                                NaN
20        Nicky Cook                                                NaN

                                                             \
                                                       tags
track_id
2                                                  ['awol']
3                                                  ['awol']
5                                                  ['awol']
10                                  ['philly', 'kurt vile']
20        ['instrumentals', 'experimental pop', 'post pu...

                                                                       set  \
                                          website wikipedia_page     split
track_id
2         http://www.AzillionRecords.blogspot.com            NaN  training
3         http://www.AzillionRecords.blogspot.com            NaN  training
5         http://www.AzillionRecords.blogspot.com            NaN  training
10                            http://kurtvile.com            NaN  training
20                                            NaN            NaN  training

                    track                                           \
          subset bit_rate comments   composer         date_created
track_id
2          small   256000        0        NaN  2008-11-26 01:48:12
3         medium   256000        0        NaN  2008-11-26 01:48:14
5          small   256000        0        NaN  2008-11-26 01:48:20
10         small   192000        0  Kurt Vile  2008-11-25 17:49:06
20         large   256000        0        NaN  2008-11-26 01:48:56

                                                                       \
                date_recorded duration favorites genre_top     genres
track_id
2         2008-11-26 00:00:00      168         2   Hip-Hop       [21]
3         2008-11-26 00:00:00      237         1   Hip-Hop       [21]
5         2008-11-26 00:00:00      206         6   Hip-Hop       [21]
10        2008-11-26 00:00:00      161       178       Pop       [10]
20        2008-01-01 00:00:00      311         0       NaN  [76, 103]

                                                                \
                 genres_all information interest language_code
track_id
2                      [21]         NaN     4656            en
3                      [21]         NaN     1470            en
5                      [21]         NaN     1933            en
10                     [10]         NaN    54881            en
20        [17, 10, 76, 103]         NaN      978            en

                                                                              \
                                                    license listens lyricist
track_id
2         Attribution-NonCommercial-ShareAlike 3.0 Inter...    1293      NaN
3         Attribution-NonCommercial-ShareAlike 3.0 Inter...     514      NaN
5         Attribution-NonCommercial-ShareAlike 3.0 Inter...    1151      NaN
10        Attribution-NonCommercial-NoDerivatives (aka M...   50135      NaN
20        Attribution-NonCommercial-NoDerivatives (aka M...     361      NaN


         number publisher tags            title
track_id
2             3       NaN   []             Food
3             4       NaN   []     Electric Ave
5             6       NaN   []       This World
10            1       NaN   []          Freeway
20            3       NaN   []  Spiritual Level

In [6]:
tracks.shape

(106574, 52)

In [7]:
tracks.columns = tracks.columns.map(lambda h: '  '.join(h).replace(' ', '_'))

tracks.columns

Index(['album__comments', 'album__date_created', 'album__date_released',
       'album__engineer', 'album__favorites', 'album__id',
       'album__information', 'album__listens', 'album__producer',
       'album__tags', 'album__title', 'album__tracks', 'album__type',
       'artist__active_year_begin', 'artist__active_year_end',
       'artist__associated_labels', 'artist__bio', 'artist__comments',
       'artist__date_created', 'artist__favorites', 'artist__id',
       'artist__latitude', 'artist__location', 'artist__longitude',
       'artist__members', 'artist__name', 'artist__related_projects',
       'artist__tags', 'artist__website', 'artist__wikipedia_page',
       'set__split', 'set__subset', 'track__bit_rate', 'track__comments',
       'track__composer', 'track__date_created', 'track__date_recorded',
       'track__duration', 'track__favorites', 'track__genre_top',
       'track__genres', 'track__genres_all', 'track__information',
       'track__interest', 'track__language_code', 'track__license',
       'track__listens', 'track__lyricist', 'track__number',
       'track__publisher', 'track__tags', 'track__title'],
      dtype='object')

In [8]:
tracks.head()

,album__comments,album__date_created,album__date_released,album__engineer,album__favorites,album__id,album__information,album__listens,album__producer,album__tags,album__title,album__tracks,album__type,artist__active_year_begin,artist__active_year_end,artist__associated_labels,artist__bio,artist__comments,artist__date_created,artist__favorites,artist__id,artist__latitude,artist__location,artist__longitude,artist__members,artist__name,artist__related_projects,artist__tags,artist__website,artist__wikipedia_page,set__split,set__subset,track__bit_rate,track__comments,track__composer,track__date_created,track__date_recorded,track__duration,track__favorites,track__genre_top,track__genres,track__genres_all,track__information,track__interest,track__language_code,track__license,track__listens,track__lyricist,track__number,track__publisher,track__tags,track__title
track_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,[],AWOL - A Way Of Life,7,Album,2006-01-01 00:00:00,NaN,NaN,"<p>A Way Of Life, A Collective of Hip-Hop from...",0,2008-11-26 01:42:32,9,1,40.058324,New Jersey,-74.405661,"Sajje Morocco,Brownbum,ZawidaGod,Custodian of ...",AWOL,The list of past projects is 2 long but every1...,['awol'],http://www.AzillionRecords.blogspot.com,NaN,training,small,256000,0,NaN,2008-11-26 01:48:12,2008-11-26 00:00:00,168,2,Hip-Hop,[21],[21],NaN,4656,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1293,NaN,3,NaN,[],Food
3,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,[],AWOL - A Way Of Life,7,Album,2006-01-01 00:00:00,NaN,NaN,"<p>A Way Of Life, A Collective of Hip-Hop from...",0,2008-11-26 01:42:32,9,1,40.058324,New Jersey,-74.405661,"Sajje Morocco,Brownbum,ZawidaGod,Custodian of ...",AWOL,The list of past projects is 2 long but every1...,['awol'],http://www.AzillionRecords.blogspot.com,NaN,training,medium,256000,0,NaN,2008-11-26 01:48:14,2008-11-26 00:00:00,237,1,Hip-Hop,[21],[21],NaN,1470,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,514,NaN,4,NaN,[],Electric Ave
5,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,[],AWOL - A Way Of Life,7,Album,2006-01-01 00:00:00,NaN,NaN,"<p>A Way Of Life, A Collective of Hip-Hop from...",0,2008-11-26 01:42:32,9,1,40.058324,New Jersey,-74.405661,"Sajje Morocco,Brownbum,ZawidaGod,Custodian of ...",AWOL,The list of past projects is 2 long but every1...,['awol'],http://www.AzillionRecords.blogspot.com,NaN,training,small,256000,0,NaN,2008-11-26 01:48:20,2008-11-26 00:00:00,206,6,Hip-Hop,[21],[21],NaN,1933,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1151,NaN,6,NaN,[],This World
10,0,2008-11-26 01:45:08,2008-02-06 00:00:00,NaN,4,6,NaN,47632,NaN,[],Constant Hitmaker,2,Album,NaN,NaN,"Mexican Summer, Richie Records, Woodsist, Skul...","<p><span style=""font-family:Verdana, Geneva, A...",3,2008-11-26 01:42:55,74,6,NaN,NaN,NaN,"Kurt Vile, the Violators",Kurt Vile,NaN,"['philly', 'kurt vile']",http://kurtvile.com,NaN,training,small,192000,0,Kurt Vile,2008-11-25 17:49:06,2008-11-26 00:00:00,161,178,Pop,[10],[10],NaN,54881,en,Attribution-NonCommercial-NoDerivatives (aka M...,50135,NaN,1,NaN,[],Freeway
20,0,2008-11-26 01:45:05,2009-01-06 00:00:00,NaN,2,4,"<p>""spiritual songs"" from Nicky Cook</p>",2710,NaN,[],Niris,13,Album,1990-01-01 00:00:00,2011-01-01 00:00:00,NaN,<p>Songs written by: Nicky Cook</p>\n<p>VOCALS...,2,2008-11-26 01:42:52,10,4,51.895927,Colchester England,0.891874,Nicky Cook\n,Nicky Cook,NaN,"['instrumentals', 'experimental pop', 'post pu...",NaN,NaN,training,large,256000,0,NaN,2008-11-26 01:48:56,2008-01-01 00:00:00,311,0,NaN,"[76, 103]","[17, 10, 76, 103]",NaN,978,en,Attribution-NonCommercial-NoDerivatives (aka M...,361,NaN,3,NaN,[],Spiritual Level

In [9]:
tracks.isnull().sum()

album__comments                   0
album__date_created            3529
album__date_released          36280
album__engineer               91279
album__favorites                  0
album__id                         0
album__information            23425
album__listens                    0
album__producer               88514
album__tags                       0
album__title                   1025
album__tracks                     0
album__type                    6508
artist__active_year_begin     83863
artist__active_year_end      101199
artist__associated_labels     92303
artist__bio                   35418
artist__comments                  0
artist__date_created            856
artist__favorites                 0
artist__id                        0
artist__latitude              62030
artist__location              36364
artist__longitude             62030
artist__members               59725
artist__name                      0
artist__related_projects      93422
artist__tags                      0
artist__website               27318
artist__wikipedia_page       100993
set__split                        0
set__subset                       0
track__bit_rate                   0
track__comments                   0
track__composer              102904
track__date_created               0
track__date_recorded         100415
track__duration                   0
track__favorites                  0
track__genre_top              56976
track__genres                     0
track__genres_all                 0
track__information           104225
track__interest                   0
track__language_code          91550
track__license                   87
track__listens                    0
track__lyricist              106263
track__number                     0
track__publisher             105311
track__tags                       0
track__title                      1
dtype: int64

In [10]:
tracks.set__split.value_counts()

training      84353
test          11263
validation    10958
Name: set__split, dtype: int64

In [11]:
tracks.set__subset.value_counts()

large     81574
medium    17000
small      8000
Name: set__subset, dtype: int64

**We'll take a smaller subset of the data to try out model ideas. If we get one that works, we'll go back to the larger dataframe and attempt the model on the training data.**

In [38]:
small_df = tracks[tracks.set__subset == 'small']

print (small_df.shape)
small_df.head()

(8000, 52)

,album__comments,album__date_created,album__date_released,album__engineer,album__favorites,album__id,album__information,album__listens,album__producer,album__tags,album__title,album__tracks,album__type,artist__active_year_begin,artist__active_year_end,artist__associated_labels,artist__bio,artist__comments,artist__date_created,artist__favorites,artist__id,artist__latitude,artist__location,artist__longitude,artist__members,artist__name,artist__related_projects,artist__tags,artist__website,artist__wikipedia_page,set__split,set__subset,track__bit_rate,track__comments,track__composer,track__date_created,track__date_recorded,track__duration,track__favorites,track__genre_top,track__genres,track__genres_all,track__information,track__interest,track__language_code,track__license,track__listens,track__lyricist,track__number,track__publisher,track__tags,track__title
track_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,[],AWOL - A Way Of Life,7,Album,2006-01-01 00:00:00,NaN,NaN,"<p>A Way Of Life, A Collective of Hip-Hop from...",0,2008-11-26 01:42:32,9,1,40.058324,New Jersey,-74.405661,"Sajje Morocco,Brownbum,ZawidaGod,Custodian of ...",AWOL,The list of past projects is 2 long but every1...,['awol'],http://www.AzillionRecords.blogspot.com,NaN,training,small,256000,0,NaN,2008-11-26 01:48:12,2008-11-26 00:00:00,168,2,Hip-Hop,[21],[21],NaN,4656,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1293,NaN,3,NaN,[],Food
5,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,[],AWOL - A Way Of Life,7,Album,2006-01-01 00:00:00,NaN,NaN,"<p>A Way Of Life, A Collective of Hip-Hop from...",0,2008-11-26 01:42:32,9,1,40.058324,New Jersey,-74.405661,"Sajje Morocco,Brownbum,ZawidaGod,Custodian of ...",AWOL,The list of past projects is 2 long but every1...,['awol'],http://www.AzillionRecords.blogspot.com,NaN,training,small,256000,0,NaN,2008-11-26 01:48:20,2008-11-26 00:00:00,206,6,Hip-Hop,[21],[21],NaN,1933,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1151,NaN,6,NaN,[],This World
10,0,2008-11-26 01:45:08,2008-02-06 00:00:00,NaN,4,6,NaN,47632,NaN,[],Constant Hitmaker,2,Album,NaN,NaN,"Mexican Summer, Richie Records, Woodsist, Skul...","<p><span style=""font-family:Verdana, Geneva, A...",3,2008-11-26 01:42:55,74,6,NaN,NaN,NaN,"Kurt Vile, the Violators",Kurt Vile,NaN,"['philly', 'kurt vile']",http://kurtvile.com,NaN,training,small,192000,0,Kurt Vile,2008-11-25 17:49:06,2008-11-26 00:00:00,161,178,Pop,[10],[10],NaN,54881,en,Attribution-NonCommercial-NoDerivatives (aka M...,50135,NaN,1,NaN,[],Freeway
140,1,2008-11-26 01:49:59,2007-05-22 00:00:00,NaN,1,61,<p>Alec K. Redfearn &amp; The Eyesores: Ellen ...,1300,"Alec K. Refearn, Rob Pemberton",[],The Blind Spot,1,Album,1999-01-01 00:00:00,NaN,NaN,<p>The Eyesores originally formed in 1997 orig...,0,2008-11-26 01:47:44,11,54,41.823989,"Providence, RI",-71.412834,NaN,Alec K. Redfearn & the Eyesores,"Haldols, Amoebic Ensemble, Mr. Gutter",['alec k redfearn and the eyesores'],http://www.aleckredfearn.com,http://en.wikipedia.org/wiki/Alec_K_Redfearn,training,small,128000,0,NaN,2008-11-26 01:44:07,2008-11-26 00:00:00,253,5,Folk,[17],[17],NaN,1593,en,Attribution-Noncommercial-No Derivative Works ...,1299,NaN,2,NaN,[],Queen Of The Wires
141,0,2008-11-26 01:49:57,2009-01-16 00:00:00,NaN,1,60,"<p>A full ensamble of strings, drums, electron...",1304,NaN,[],Every Man For Himself,2,Album,1999-01-01 00:00:00,NaN,NaN,<p>The Eyesores originally formed in 1997 orig...,0,2008-11-26 01:47:44,11,54,41.823989,"Providence, RI",-71.412834,NaN,Alec K. Redfearn & the Eyesores,"Haldols, Amoebic Ensemble, Mr. Gutter",['alec k redfearn and the eyesores'],http://www.aleckredfearn.com,http://en.wikipedia.org/wiki/Alec_K_Redfearn,training,small,128000,0,NaN,2008-11-26 01:44:10,2008-11-26 00:00:00,182,1,Folk,[17],[17],NaN,839,en,Attribution-Noncommercial-No Derivative Works ...,725,NaN,4,NaN,[],Ohio

In [39]:
small_df.track__genre_top.value_counts()

Pop              1000
Electronic       1000
International    1000
Hip-Hop          1000
Experimental     1000
Folk             1000
Rock             1000
Instrumental     1000
Name: track__genre_top, dtype: int64

In [40]:
small_df.dtypes

album__comments                int64
album__date_created           object
album__date_released          object
album__engineer               object
album__favorites               int64
album__id                      int64
album__information            object
album__listens                 int64
album__producer               object
album__tags                   object
album__title                  object
album__tracks                  int64
album__type                   object
artist__active_year_begin     object
artist__active_year_end       object
artist__associated_labels     object
artist__bio                   object
artist__comments               int64
artist__date_created          object
artist__favorites              int64
artist__id                     int64
artist__latitude             float64
artist__location              object
artist__longitude            float64
artist__members               object
artist__name                  object
artist__related_projects      object
artist__tags                  object
artist__website               object
artist__wikipedia_page        object
set__split                    object
set__subset                   object
track__bit_rate                int64
track__comments                int64
track__composer               object
track__date_created           object
track__date_recorded          object
track__duration                int64
track__favorites               int64
track__genre_top              object
track__genres                 object
track__genres_all             object
track__information            object
track__interest                int64
track__language_code          object
track__license                object
track__listens                 int64
track__lyricist               object
track__number                  int64
track__publisher              object
track__tags                   object
track__title                  object
dtype: object

In [41]:
small_df.isnull().sum()

album__comments                 0
album__date_created             0
album__date_released         2663
album__engineer              6858
album__favorites                0
album__id                       0
album__information           1498
album__listens                  0
album__producer              6596
album__tags                     0
album__title                    0
album__tracks                   0
album__type                   231
artist__active_year_begin    6458
artist__active_year_end      7642
artist__associated_labels    7151
artist__bio                  2086
artist__comments                0
artist__date_created            0
artist__favorites               0
artist__id                      0
artist__latitude             5101
artist__location             2529
artist__longitude            5101
artist__members              4475
artist__name                    0
artist__related_projects     7306
artist__tags                    0
artist__website              1548
artist__wikipedia_page       7590
set__split                      0
set__subset                     0
track__bit_rate                 0
track__comments                 0
track__composer              7820
track__date_created             0
track__date_recorded         7535
track__duration                 0
track__favorites                0
track__genre_top                0
track__genres                   0
track__genres_all               0
track__information           7841
track__interest                 0
track__language_code         6995
track__license                  5
track__listens                  0
track__lyricist              7974
track__number                   0
track__publisher             7924
track__tags                     0
track__title                    0
dtype: int64

In [42]:
small_df.head()

,album__comments,album__date_created,album__date_released,album__engineer,album__favorites,album__id,album__information,album__listens,album__producer,album__tags,album__title,album__tracks,album__type,artist__active_year_begin,artist__active_year_end,artist__associated_labels,artist__bio,artist__comments,artist__date_created,artist__favorites,artist__id,artist__latitude,artist__location,artist__longitude,artist__members,artist__name,artist__related_projects,artist__tags,artist__website,artist__wikipedia_page,set__split,set__subset,track__bit_rate,track__comments,track__composer,track__date_created,track__date_recorded,track__duration,track__favorites,track__genre_top,track__genres,track__genres_all,track__information,track__interest,track__language_code,track__license,track__listens,track__lyricist,track__number,track__publisher,track__tags,track__title
track_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,[],AWOL - A Way Of Life,7,Album,2006-01-01 00:00:00,NaN,NaN,"<p>A Way Of Life, A Collective of Hip-Hop from...",0,2008-11-26 01:42:32,9,1,40.058324,New Jersey,-74.405661,"Sajje Morocco,Brownbum,ZawidaGod,Custodian of ...",AWOL,The list of past projects is 2 long but every1...,['awol'],http://www.AzillionRecords.blogspot.com,NaN,training,small,256000,0,NaN,2008-11-26 01:48:12,2008-11-26 00:00:00,168,2,Hip-Hop,[21],[21],NaN,4656,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1293,NaN,3,NaN,[],Food
5,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,[],AWOL - A Way Of Life,7,Album,2006-01-01 00:00:00,NaN,NaN,"<p>A Way Of Life, A Collective of Hip-Hop from...",0,2008-11-26 01:42:32,9,1,40.058324,New Jersey,-74.405661,"Sajje Morocco,Brownbum,ZawidaGod,Custodian of ...",AWOL,The list of past projects is 2 long but every1...,['awol'],http://www.AzillionRecords.blogspot.com,NaN,training,small,256000,0,NaN,2008-11-26 01:48:20,2008-11-26 00:00:00,206,6,Hip-Hop,[21],[21],NaN,1933,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1151,NaN,6,NaN,[],This World
10,0,2008-11-26 01:45:08,2008-02-06 00:00:00,NaN,4,6,NaN,47632,NaN,[],Constant Hitmaker,2,Album,NaN,NaN,"Mexican Summer, Richie Records, Woodsist, Skul...","<p><span style=""font-family:Verdana, Geneva, A...",3,2008-11-26 01:42:55,74,6,NaN,NaN,NaN,"Kurt Vile, the Violators",Kurt Vile,NaN,"['philly', 'kurt vile']",http://kurtvile.com,NaN,training,small,192000,0,Kurt Vile,2008-11-25 17:49:06,2008-11-26 00:00:00,161,178,Pop,[10],[10],NaN,54881,en,Attribution-NonCommercial-NoDerivatives (aka M...,50135,NaN,1,NaN,[],Freeway
140,1,2008-11-26 01:49:59,2007-05-22 00:00:00,NaN,1,61,<p>Alec K. Redfearn &amp; The Eyesores: Ellen ...,1300,"Alec K. Refearn, Rob Pemberton",[],The Blind Spot,1,Album,1999-01-01 00:00:00,NaN,NaN,<p>The Eyesores originally formed in 1997 orig...,0,2008-11-26 01:47:44,11,54,41.823989,"Providence, RI",-71.412834,NaN,Alec K. Redfearn & the Eyesores,"Haldols, Amoebic Ensemble, Mr. Gutter",['alec k redfearn and the eyesores'],http://www.aleckredfearn.com,http://en.wikipedia.org/wiki/Alec_K_Redfearn,training,small,128000,0,NaN,2008-11-26 01:44:07,2008-11-26 00:00:00,253,5,Folk,[17],[17],NaN,1593,en,Attribution-Noncommercial-No Derivative Works ...,1299,NaN,2,NaN,[],Queen Of The Wires
141,0,2008-11-26 01:49:57,2009-01-16 00:00:00,NaN,1,60,"<p>A full ensamble of strings, drums, electron...",1304,NaN,[],Every Man For Himself,2,Album,1999-01-01 00:00:00,NaN,NaN,<p>The Eyesores originally formed in 1997 orig...,0,2008-11-26 01:47:44,11,54,41.823989,"Providence, RI",-71.412834,NaN,Alec K. Redfearn & the Eyesores,"Haldols, Amoebic Ensemble, Mr. Gutter",['alec k redfearn and the eyesores'],http://www.aleckredfearn.com,http://en.wikipedia.org/wiki/Alec_K_Redfearn,training,small,128000,0,NaN,2008-11-26 01:44:10,2008-11-26 00:00:00,182,1,Folk,[17],[17],NaN,839,en,Attribution-Noncommercial-No Derivative Works ...,725,NaN,4,NaN,[],Ohio

**We will delete columns that are either tough to translate to variables or provide little information. **

In [43]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']

numeric_df = small_df.select_dtypes(include=numerics)

print(numeric_df.shape)

numeric_df.head()

(8000, 17)

,album__comments,album__favorites,album__id,album__listens,album__tracks,artist__comments,artist__favorites,artist__id,artist__latitude,artist__longitude,track__bit_rate,track__comments,track__duration,track__favorites,track__interest,track__listens,track__number
track_id,,,,,,,,,,,,,,,,,
2,0,4,1,6073,7,0,9,1,40.058324,-74.405661,256000,0,168,2,4656,1293,3
5,0,4,1,6073,7,0,9,1,40.058324,-74.405661,256000,0,206,6,1933,1151,6
10,0,4,6,47632,2,3,74,6,NaN,NaN,192000,0,161,178,54881,50135,1
140,1,1,61,1300,1,0,11,54,41.823989,-71.412834,128000,0,253,5,1593,1299,2
141,0,1,60,1304,2,0,11,54,41.823989,-71.412834,128000,0,182,1,839,725,4

In [44]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
scale = preprocessing.scale



numeric_df['track__genre_top'] = small_df.track__genre_top

numeric_df['genre'] = le.fit_transform(numeric_df['track__genre_top'])

numeric_df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,album__comments,album__favorites,album__id,album__listens,album__tracks,artist__comments,artist__favorites,artist__id,artist__latitude,artist__longitude,track__bit_rate,track__comments,track__duration,track__favorites,track__interest,track__listens,track__number,track__genre_top,genre
track_id,,,,,,,,,,,,,,,,,,,
2,0,4,1,6073,7,0,9,1,40.058324,-74.405661,256000,0,168,2,4656,1293,3,Hip-Hop,3
5,0,4,1,6073,7,0,9,1,40.058324,-74.405661,256000,0,206,6,1933,1151,6,Hip-Hop,3
10,0,4,6,47632,2,3,74,6,NaN,NaN,192000,0,161,178,54881,50135,1,Pop,6
140,1,1,61,1300,1,0,11,54,41.823989,-71.412834,128000,0,253,5,1593,1299,2,Folk,2
141,0,1,60,1304,2,0,11,54,41.823989,-71.412834,128000,0,182,1,839,725,4,Folk,2

In [45]:
numeric_df.isnull().sum()

album__comments         0
album__favorites        0
album__id               0
album__listens          0
album__tracks           0
artist__comments        0
artist__favorites       0
artist__id              0
artist__latitude     5101
artist__longitude    5101
track__bit_rate         0
track__comments         0
track__duration         0
track__favorites        0
track__interest         0
track__listens          0
track__number           0
track__genre_top        0
genre                   0
dtype: int64

In [46]:
drop_cols = ['artist__latitude', 'artist__longitude']

numeric_df = numeric_df.drop(drop_cols,axis = 1)

numeric_df.isnull().sum()

album__comments      0
album__favorites     0
album__id            0
album__listens       0
album__tracks        0
artist__comments     0
artist__favorites    0
artist__id           0
track__bit_rate      0
track__comments      0
track__duration      0
track__favorites     0
track__interest      0
track__listens       0
track__number        0
track__genre_top     0
genre                0
dtype: int64

In [47]:
numeric_df.describe().T

,count,mean,std,min,25%,50%,75%,max
album__comments,8000.0,0.538625,1.392211,0.0,0.00,0.0,0.00,12.0
album__favorites,8000.0,2.025250,3.825728,0.0,0.00,1.0,2.00,40.0
album__id,8000.0,13528.950125,6022.260415,1.0,9034.00,14793.0,18512.00,22899.0
album__listens,8000.0,38310.885250,63144.554876,1008.0,7969.00,16996.0,40793.00,674347.0
album__tracks,8000.0,11.133625,8.086096,1.0,6.00,9.0,14.00,47.0
artist__comments,8000.0,2.816250,7.320293,0.0,0.00,0.0,2.00,68.0
artist__favorites,8000.0,41.649000,111.371453,0.0,2.00,8.0,25.00,963.0
artist__id,8000.0,12984.194250,6994.459659,1.0,7295.00,13830.0,19459.00,24252.0
track__bit_rate,8000.0,265410.093875,60907.068685,105237.0,213176.00,263069.0,320000.00,322541.0
track__comments,8000.0,0.071625,0.648496,0.0,0.00,0.0,0.00,37.0
track__duration,8000.0,228.841500,98.394854,60.0,161.00,215.0,279.00,600.0
track__favorites,8000.0,6.565250,23.850474,0.0,1.00,3.0,7.00,1482.0
track__interest,8000.0,7195.664500,46221.330820,463.0,1880.75,3491.5,6812.25,3293557.0
track__listens,8000.0,4729.682125,12222.015762,196.0,1266.00,2492.5,4900.25,543252.0
track__number,8000.0,5.501750,5.907293,0.0,2.00,4.0,8.00,128.0
genre,8000.0,3.500000,2.291431,0.0,1.75,3.5,5.25,7.0

In [48]:
y = numeric_df.genre
cols = ['album__comments', 'album__favorites', 'album__id', 'album__listens',
        'album__tracks', 'artist__comments', 'artist__favorites', 'artist__id',
        'track__bit_rate', 'track__comments', 'track__duration',
        'track__favorites', 'track__interest', 'track__listens','track__number']

cols_id = ['album__id', 'artist__id']

X = numeric_df[cols]

# X.columns = cols

X.head()

,album__comments,album__favorites,album__id,album__listens,album__tracks,artist__comments,artist__favorites,artist__id,track__bit_rate,track__comments,track__duration,track__favorites,track__interest,track__listens,track__number
track_id,,,,,,,,,,,,,,,
2,0,4,1,6073,7,0,9,1,256000,0,168,2,4656,1293,3
5,0,4,1,6073,7,0,9,1,256000,0,206,6,1933,1151,6
10,0,4,6,47632,2,3,74,6,192000,0,161,178,54881,50135,1
140,1,1,61,1300,1,0,11,54,128000,0,253,5,1593,1299,2
141,0,1,60,1304,2,0,11,54,128000,0,182,1,839,725,4

In [49]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_std = scaler.fit_transform(X)

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/usr/local/lib/python3.6/dist-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [51]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_std, y, test_size=0.25, random_state=237)

print (X_train.shape)
print (X_test.shape)
print (y_train.shape)
print (y_test.shape)

(6000, 15)
(2000, 15)
(6000,)
(2000,)

In [54]:
clf = LogisticRegression(random_state=0, multi_class='multinomial', solver='lbfgs', max_iter=1000)
model = clf.fit(X_train, y_train)

model.score(X_train, y_train)

0.3345

In [55]:
from sklearn.metrics import accuracy_score

y_pred = model.predict(X_test)

accuracy_score(y_test, y_pred)

0.317

In [56]:
model.intercept_

array([ 0.21049951, -0.25738291, -0.33223098,  0.2801333 , -0.19516232,
       -0.19941401,  0.07621941,  0.417338  ])

In [57]:
model.coef_

array([[ 0.1798914 , -0.16994674,  0.01126907,  0.86047238, -0.46069088,
        -0.0471323 ,  0.35512317,  0.10393229,  0.31027815, -0.05709134,
         0.25344509,  0.72022482, -0.25321258,  0.94684152,  0.07544638],
       [-0.31128726,  0.38678472, -0.17907845, -1.17246171,  0.50060472,
        -0.5257881 ,  0.46951115, -0.16289783,  0.05411467,  0.18119246,
         0.15794637, -2.29485889,  0.97496645,  0.07160528,  0.08283162],
       [ 0.09408084,  0.33027321,  0.06477567, -1.16180141,  0.10268424,
         0.48694852,  0.18704955, -0.13469427, -0.29471197,  0.10585295,
         0.0027741 ,  0.80594182, -0.56180835, -2.69096493, -0.21085178],
       [-0.20719162, -0.14423937, -0.07141282,  0.46421245,  0.20832309,
         0.65544824, -1.05871531, -0.07522404,  0.18169123,  0.1475863 ,
        -0.3287837 ,  0.25964513,  0.40579828,  0.49915111,  0.22508815],
       [ 0.19778156, -0.37684799,  0.63740955,  0.80149853, -0.07127865,
        -0.42822786,  1.16628028,  0.44356714,  0.10102919,  0.01090354,
        -0.18186696,  0.39772499, -0.11463906,  0.87110789, -0.17383916],
       [ 0.15939211,  0.12140329, -0.38872454,  0.54704692, -0.20769766,
         0.17122831, -2.13953183, -0.1222841 , -0.12840938, -0.38345713,
         0.17089801, -0.89032457,  1.9657893 , -0.3186758 , -0.04458883],
       [-0.16243213, -0.14383111, -0.0589743 , -0.59535892,  0.28889916,
         0.20274434,  0.23003391, -0.09825417, -0.05428471,  0.00468501,
        -0.08406903,  0.60909577, -2.20370085, -0.3686207 , -0.0242621 ],
       [ 0.0497651 , -0.00359601, -0.01526418,  0.25639176, -0.36084402,
        -0.51522116,  0.79024907,  0.04585497, -0.16970719, -0.00967178,
         0.0096561 ,  0.39255094, -0.21319319,  0.98955564,  0.07017573]])

**CONFUSION MATRIX**

In [58]:
pd.crosstab(y_test, y_pred, rownames=['Actual'], colnames=['Predicted'], margins=True, normalize = True)

Predicted,0,1,2,3,4,5,6,7,All
Actual,,,,,,,,,
0,0.0610,0.0015,0.0025,0.0150,0.0225,0.0120,0.0000,0.0130,0.1275
1,0.0045,0.0355,0.0280,0.0180,0.0055,0.0165,0.0085,0.0050,0.1215
2,0.0025,0.0165,0.0600,0.0015,0.0075,0.0120,0.0110,0.0030,0.1140
3,0.0090,0.0265,0.0150,0.0265,0.0105,0.0180,0.0125,0.0065,0.1245
4,0.0165,0.0020,0.0070,0.0165,0.0655,0.0020,0.0025,0.0120,0.1240
5,0.0070,0.0305,0.0250,0.0050,0.0080,0.0390,0.0050,0.0095,0.1290
6,0.0060,0.0330,0.0300,0.0085,0.0165,0.0175,0.0110,0.0045,0.1270
7,0.0190,0.0095,0.0135,0.0165,0.0225,0.0260,0.0070,0.0185,0.1325
All,0.1255,0.1550,0.1810,0.1075,0.1585,0.1430,0.0575,0.0720,1.0000

**Now an attempt on the larger dataset**

In [59]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']

numeric_df_big = tracks.select_dtypes(include=numerics)

print(numeric_df_big.shape)

numeric_df_big.head()

(106574, 17)

,album__comments,album__favorites,album__id,album__listens,album__tracks,artist__comments,artist__favorites,artist__id,artist__latitude,artist__longitude,track__bit_rate,track__comments,track__duration,track__favorites,track__interest,track__listens,track__number
track_id,,,,,,,,,,,,,,,,,
2,0,4,1,6073,7,0,9,1,40.058324,-74.405661,256000,0,168,2,4656,1293,3
3,0,4,1,6073,7,0,9,1,40.058324,-74.405661,256000,0,237,1,1470,514,4
5,0,4,1,6073,7,0,9,1,40.058324,-74.405661,256000,0,206,6,1933,1151,6
10,0,4,6,47632,2,3,74,6,NaN,NaN,192000,0,161,178,54881,50135,1
20,0,2,4,2710,13,2,10,4,51.895927,0.891874,256000,0,311,0,978,361,3

In [60]:
numeric_df_big.isnull().sum()

album__comments          0
album__favorites         0
album__id                0
album__listens           0
album__tracks            0
artist__comments         0
artist__favorites        0
artist__id               0
artist__latitude     62030
artist__longitude    62030
track__bit_rate          0
track__comments          0
track__duration          0
track__favorites         0
track__interest          0
track__listens           0
track__number            0
dtype: int64

In [61]:
drop_cols = ['artist__latitude', 'artist__longitude']

numeric_df_big = numeric_df_big.drop(drop_cols,axis = 1)

numeric_df_big.isnull().sum()

album__comments      0
album__favorites     0
album__id            0
album__listens       0
album__tracks        0
artist__comments     0
artist__favorites    0
artist__id           0
track__bit_rate      0
track__comments      0
track__duration      0
track__favorites     0
track__interest      0
track__listens       0
track__number        0
dtype: int64

In [62]:
numeric_df_big['track__genre_top'] = tracks.track__genre_top
numeric_df_big.head()

,album__comments,album__favorites,album__id,album__listens,album__tracks,artist__comments,artist__favorites,artist__id,track__bit_rate,track__comments,track__duration,track__favorites,track__interest,track__listens,track__number,track__genre_top
track_id,,,,,,,,,,,,,,,,
2,0,4,1,6073,7,0,9,1,256000,0,168,2,4656,1293,3,Hip-Hop
3,0,4,1,6073,7,0,9,1,256000,0,237,1,1470,514,4,Hip-Hop
5,0,4,1,6073,7,0,9,1,256000,0,206,6,1933,1151,6,Hip-Hop
10,0,4,6,47632,2,3,74,6,192000,0,161,178,54881,50135,1,Pop
20,0,2,4,2710,13,2,10,4,256000,0,311,0,978,361,3,NaN

In [63]:
numeric_df_big['track__genre_top'].value_counts()

Rock                   14182
Experimental           10608
Electronic              9372
Hip-Hop                 3552
Folk                    2803
Pop                     2332
Instrumental            2079
International           1389
Classical               1230
Jazz                     571
Old-Time / Historic      554
Spoken                   423
Country                  194
Soul-RnB                 175
Blues                    110
Easy Listening            24
Name: track__genre_top, dtype: int64

In [64]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()



numeric_df_big['genre'] = le.fit_transform(numeric_df_big['track__genre_top'].astype(str))

numeric_df_big.head()

,album__comments,album__favorites,album__id,album__listens,album__tracks,artist__comments,artist__favorites,artist__id,track__bit_rate,track__comments,track__duration,track__favorites,track__interest,track__listens,track__number,track__genre_top,genre
track_id,,,,,,,,,,,,,,,,,
2,0,4,1,6073,7,0,9,1,256000,0,168,2,4656,1293,3,Hip-Hop,7
3,0,4,1,6073,7,0,9,1,256000,0,237,1,1470,514,4,Hip-Hop,7
5,0,4,1,6073,7,0,9,1,256000,0,206,6,1933,1151,6,Hip-Hop,7
10,0,4,6,47632,2,3,74,6,192000,0,161,178,54881,50135,1,Pop,12
20,0,2,4,2710,13,2,10,4,256000,0,311,0,978,361,3,NaN,16

In [65]:
numeric_df_big.describe().T

,count,mean,std,min,25%,50%,75%,max
album__comments,106574.0,0.394946,2.268915,-1.0,0.0,0.0,0.0,53.0
album__favorites,106574.0,1.286927,3.133035,-1.0,0.0,0.0,1.0,61.0
album__id,106574.0,12826.933914,6290.261805,-1.0,7793.0,13374.0,18203.0,22940.0
album__listens,106574.0,32120.306182,147853.178406,-1.0,3361.0,8982.0,23635.0,3564243.0
album__tracks,106574.0,19.721452,39.943673,-1.0,7.0,11.0,17.0,652.0
artist__comments,106574.0,1.894702,6.297679,-1.0,0.0,0.0,1.0,79.0
artist__favorites,106574.0,30.041915,100.511408,-1.0,1.0,5.0,16.0,963.0
artist__id,106574.0,12036.770404,6881.420867,1.0,6443.0,12029.5,18011.0,24357.0
track__bit_rate,106574.0,263274.695048,67623.443584,-1.0,192000.0,299914.0,320000.0,448000.0
track__comments,106574.0,0.031621,0.321993,0.0,0.0,0.0,0.0,37.0
track__duration,106574.0,277.849100,305.518553,0.0,149.0,216.0,305.0,18350.0
track__favorites,106574.0,3.182521,13.513820,0.0,0.0,1.0,3.0,1482.0
track__interest,106574.0,3541.310207,19017.430891,2.0,599.0,1314.0,3059.0,3293557.0
track__listens,106574.0,2329.353548,8028.070647,0.0,292.0,764.0,2018.0,543252.0
track__number,106574.0,8.260945,15.243271,0.0,2.0,5.0,9.0,255.0
genre,106574.0,12.269390,4.810792,0.0,7.0,16.0,16.0,16.0

In [66]:
numeric_df_big['split']=tracks.set__split

numeric_df_big.head()

,album__comments,album__favorites,album__id,album__listens,album__tracks,artist__comments,artist__favorites,artist__id,track__bit_rate,track__comments,track__duration,track__favorites,track__interest,track__listens,track__number,track__genre_top,genre,split
track_id,,,,,,,,,,,,,,,,,,
2,0,4,1,6073,7,0,9,1,256000,0,168,2,4656,1293,3,Hip-Hop,7,training
3,0,4,1,6073,7,0,9,1,256000,0,237,1,1470,514,4,Hip-Hop,7,training
5,0,4,1,6073,7,0,9,1,256000,0,206,6,1933,1151,6,Hip-Hop,7,training
10,0,4,6,47632,2,3,74,6,192000,0,161,178,54881,50135,1,Pop,12,training
20,0,2,4,2710,13,2,10,4,256000,0,311,0,978,361,3,NaN,16,training

In [67]:
print (numeric_df_big.shape)

training = numeric_df_big.loc[numeric_df_big.split == 'training']
testing = numeric_df_big.loc[numeric_df_big.split == 'test']

print(training.shape)
print(testing.shape)

(106574, 18)
(84353, 18)
(11263, 18)

In [68]:
del training['split']
del testing['split']

print(training.shape)
print(testing.shape)

(84353, 17)
(11263, 17)

In [0]:
# y = numeric_df.genre
cols = ['album__comments', 'album__favorites', 'album__id', 'album__listens',
        'album__tracks', 'artist__comments', 'artist__favorites', 'artist__id',
        'track__bit_rate', 'track__comments', 'track__duration',
        'track__favorites', 'track__interest', 'track__listens','track__number']

cols_id = ['album__id', 'artist__id']

# X = numeric_df[cols]

# X.head()

In [70]:
X_train = training[cols]
X_test = testing[cols]
y_train = training.genre
y_test = testing.genre

print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(84353, 15)
(11263, 15)
(84353,)
(11263,)

In [71]:
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/usr/local/lib/python3.6/dist-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/usr/local/lib/python3.6/dist-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [72]:
clf = LogisticRegression(random_state=0, multi_class='multinomial', solver='lbfgs', max_iter=1000)
model_big = clf.fit(X_train, y_train)

model_big.score(X_train, y_train)

0.5327966995838915

In [73]:
model_big.intercept_

array([-2.21981754,  0.93311733, -1.6976199 , -4.02943033,  3.0964304 ,
        1.63450509,  1.27698574,  1.89295469,  1.29033808,  0.55466449,
       -0.59869412, -8.18436272,  1.40893714,  2.49668732, -1.62626679,
       -1.14099613,  4.91256723])

In [74]:
model_big.coef_

array([[-1.08852641e+00,  2.22361195e-01, -4.77231832e-01,
         5.63291461e-01,  3.56306766e-01,  7.20153085e-01,
         5.55339896e-01, -2.38120191e-01, -6.68637789e-02,
        -1.82805016e-01,  1.26154548e-01,  3.43484001e-01,
         9.92802750e-01, -1.64645630e-01, -3.71367673e-02],
       [-8.31903544e-02,  1.10606124e-01, -4.11421525e-01,
         8.96484785e-01,  6.71594192e-01, -1.57837905e-01,
         1.32091010e+00,  5.41078500e-01, -3.05894254e-01,
        -7.68933052e-02,  4.01082155e-01,  2.16419776e-01,
         9.71134648e-01, -1.23848686e-01,  1.05661100e+00],
       [ 2.58803687e-02, -1.52783732e-01, -2.72800870e-01,
         1.21524310e+00, -2.19473921e+00,  1.86685344e-01,
        -4.86389591e-01,  3.18325232e-01,  9.44456618e-03,
         1.36536655e-01, -5.45512088e-01,  2.50211029e-01,
         1.33092167e-01,  2.82305091e-01,  9.43633384e-01],
       [-5.03529371e-01,  2.11469882e-01,  3.76826200e-01,
         6.22234707e-01, -1.89859131e-01,  6.99709438e-01,
         6.04213565e-01, -9.79726115e-01,  4.12237247e-01,
        -2.95798612e-01,  3.05377058e-01, -3.73432792e-01,
         1.86708675e-01,  3.72603807e-01, -4.64769377e-01],
       [ 9.29104552e-02, -1.59113244e-01, -1.34829898e-02,
         1.43249625e-01,  6.98802876e-01,  2.27176397e-01,
         7.76324898e-01,  1.30382408e-01,  2.86033148e-01,
         3.68691698e-02,  1.64933237e-01,  4.08485892e-01,
         9.60315306e-01, -3.06792248e-01,  8.84895771e-01],
       [ 1.89811945e-01,  1.68130079e-01,  1.54943261e-01,
        -4.26979125e+00,  1.21975559e+00,  1.07767993e-02,
         4.79807370e-01, -1.28226480e-01,  9.15851330e-02,
         1.02099616e-01,  4.67657727e-01, -2.58514875e+00,
        -6.67007869e-02, -1.80186639e+00,  9.78261751e-01],
       [-1.54515499e-01,  1.93898382e-01,  3.06693202e-01,
        -1.01408828e+00,  5.46100472e-01, -1.91869958e-02,
         1.14959406e+00, -3.19073493e-02, -2.60340392e-01,
         8.64164216e-02, -1.71169891e-01,  8.54486518e-01,
        -8.25226033e-01, -1.60198697e+00,  5.03302357e-02],
       [ 1.04230841e-01, -1.30302812e-01,  2.55181417e-01,
         4.31891764e-01,  2.81527532e-01, -1.03030158e-01,
         7.40475845e-01, -1.71694139e-01,  3.68024868e-01,
         9.48956632e-02, -7.81678821e-01,  3.97484195e-01,
         9.99201630e-01, -5.38080318e-01,  1.04348257e+00],
       [ 4.23009659e-01, -9.45228190e-02, -7.90035528e-02,
         5.45690299e-01,  3.54354121e-01,  1.31141306e-02,
         1.50352417e+00,  7.74631404e-01,  2.82942723e-01,
         5.09920645e-02,  1.64770752e-01,  2.63201226e-01,
        -3.17470198e-01,  5.67730302e-01,  1.13404260e+00],
       [ 4.89209117e-01, -9.18637713e-03,  2.56577514e-01,
         6.70199090e-01, -1.15315759e+00,  1.35460229e-01,
        -7.47008245e-01, -1.04063961e-01, -1.54507926e-01,
        -8.80919425e-02,  2.65218182e-01,  2.52751487e-01,
         1.00810456e+00, -1.66752069e-01,  7.00102603e-01],
       [-3.20662935e-01,  1.70399359e-01, -6.60212119e-01,
         5.72933964e-01, -1.61610544e-01,  7.55443991e-01,
        -2.94967727e-01,  2.01523046e-01, -5.83094234e-02,
        -8.07686311e-02,  3.95043898e-01,  3.84804189e-01,
         7.59505657e-01, -7.92713250e-02, -3.22178393e-01],
       [-4.80285093e-01,  2.24373489e-01,  2.60716380e-01,
         1.39411270e+00, -4.51483796e-01, -3.50730440e+00,
        -8.44524487e+00, -7.93012030e-01, -4.84074612e-02,
         5.00009729e-03, -1.19840745e+00,  5.71062157e-01,
        -2.17795956e+00,  1.54815477e+00, -1.08909344e+01],
       [ 9.08411503e-02, -3.21357004e-01,  2.13971955e-01,
         7.08456765e-01,  1.03668738e+00,  2.75040351e-01,
         8.33599288e-01, -8.37630865e-02, -8.96721776e-02,
         4.45688096e-02, -3.56498017e-01,  5.24307546e-01,
        -1.59492445e+00,  7.55082010e-01,  9.89353036e-01],
       [ 3.29433446e-01,  8.39769515e-02,  1.53246595e-02,
        -3.56255233e+00, -1.01044662e-01, -1.62042527e-01,
         4.95166417e-01,  4.32240119e-02, -2.62111872e-02,
         6.07629184e-02, -2.55126546e-01,  6.14853037e-02,
        -4.14597278e+00,  1.75357461e+00,  7.24418704e-01],
       [ 6.06500739e-01, -9.26965269e-02, -2.73047182e-01,
         3.73365486e-01, -1.19335760e+00,  4.99844553e-01,
         1.00632334e+00,  5.58851204e-01, -2.79565879e-01,
        -6.89087806e-02,  1.40570860e-01,  4.25874025e-01,
         7.77800861e-01, -1.82548629e-01,  1.02603959e+00],
       [ 1.59005830e-01, -2.14826997e-01,  5.27382336e-02,
        -9.40465154e-02, -2.11872189e-01,  3.14247977e-01,
        -6.90486544e-01, -7.26618988e-02, -2.45789001e-01,
         1.09169430e-01,  5.66860742e-01, -2.26188143e+00,
         1.37694520e+00, -1.05645891e-01,  1.17537389e+00],
       [ 1.19876113e-01, -2.10425950e-01,  2.94227248e-01,
         8.03324621e-01,  4.91995792e-01,  1.11749686e-01,
         1.19881803e+00,  3.51594433e-02,  8.52937955e-02,
         6.59554419e-02,  3.10723655e-01,  2.66405622e-01,
         9.62642355e-01, -2.08012435e-01,  1.00847379e+00]])

In [75]:
y_pred = model_big.predict(X_test)

accuracy_score(y_test, y_pred)

0.5138950546035692

**Confusion Matrix**

In [0]:
pd.crosstab(y_test, y_pred, rownames=['Actual'], colnames=['Predicted'], margins=True, normalize = True)

Predicted,5,8,9,11,12,13,16,All
Actual,,,,,,,,
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000799,0.000355,0.001154
1,0.000089,0.000000,0.000000,0.000000,0.000000,0.001332,0.006304,0.007724
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000355,0.001243,0.001598
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000533,0.000533
4,0.005949,0.000977,0.000000,0.000266,0.000000,0.013851,0.053449,0.074492
5,0.031519,0.000000,0.000000,0.000089,0.000000,0.025304,0.039421,0.096333
6,0.001776,0.000000,0.000000,0.000000,0.000000,0.006748,0.018024,0.026547
7,0.000888,0.000089,0.000000,0.000000,0.000000,0.003108,0.024594,0.028678
8,0.000355,0.000266,0.000000,0.000355,0.000000,0.002220,0.024239,0.027435
9,0.000000,0.000000,0.000000,0.000000,0.000000,0.002042,0.009323,0.011365
10,0.000178,0.000000,0.000000,0.000000,0.000000,0.001065,0.002930,0.004173
11,0.000000,0.000000,0.000000,0.000533,0.000000,0.001154,0.003196,0.004883
12,0.003196,0.000355,0.000000,0.000000,0.000178,0.005416,0.008967,0.018112
13,0.014383,0.000000,0.000000,0.000000,0.000000,0.055758,0.059842,0.129983
14,0.000000,0.000000,0.000000,0.000000,0.000000,0.000622,0.003196,0.003818
15,0.000444,0.000000,0.000000,0.000000,0.000000,0.000533,0.001776,0.002752
16,0.038977,0.002131,0.000089,0.001687,0.000000,0.091805,0.425730,0.560419
All,0.097754,0.003818,0.000089,0.002930,0.000178,0.212110,0.683122,1.000000

This is the biggest data you've played with so far, and while it does generally fit in Colab, it can take awhile to run. That's part of the challenge!

Your tasks:
- Clean up the variable names in the dataframe
- Use logistic regression to fit a model predicting (primary/top) genre
- Inspect, iterate, and improve your model
- Answer the following questions (written, ~paragraph each):
  - What are the best predictors of genre?
  - What information isn't very useful for predicting genre?
  - What surprised you the most about your results?

*Important caveats*:
- This is going to be difficult data to work with - don't let the perfect be the enemy of the good!
- Be creative in cleaning it up - if the best way you know how to do it is download it locally and edit as a spreadsheet, that's OK!
- If the data size becomes problematic, consider sampling/subsetting
- You do not need perfect or complete results - just something plausible that runs, and that supports the reasoning in your written answers

If you find that fitting a model to classify *all* genres isn't very good, it's totally OK to limit to the most frequent genres, or perhaps trying to combine or cluster genres as a preprocessing step. Even then, there will be limits to how good a model can be with just this metadata - if you really want to train an effective genre classifier, you'll have to involve the other data (see stretch goals).

This is real data - there is no "one correct answer", so you can take this in a variety of directions. Just make sure to support your findings, and feel free to share them as well! This is meant to be practice for dealing with other "messy" data, a common task in data science.

### DISCUSSION

**Without t-statistics for the coefficients, it is tough to determine in the multinomial case which features are valuable and which are not. What one can say is that accuracy improved with more observations and with a smaller test set percent. What I found most surprising is that artist id and album id were not that powerful in predicting genre.**

## Resources and stretch goals

- Check out the other .csv files from the FMA dataset, and see if you can join them or otherwise fit interesting models with them
- [Logistic regression from scratch in numpy](https://blog.goodaudience.com/logistic-regression-from-scratch-in-numpy-5841c09e425f) - if you want to dig in a bit more to both the code and math (also takes a gradient descent approach, introducing the logistic loss function)
- Create a visualization to show predictions of your model - ideally show a confidence interval based on error!
- Check out and compare classification models from scikit-learn, such as [SVM](https://scikit-learn.org/stable/modules/svm.html#classification), [decision trees](https://scikit-learn.org/stable/modules/tree.html#classification), and [naive Bayes](https://scikit-learn.org/stable/modules/naive_bayes.html). The underlying math will vary significantly, but the API (how you write the code) and interpretation will actually be fairly similar.
- Sign up for [Kaggle](https://kaggle.com), and find a competition to try logistic regression with
- (Not logistic regression related) If you enjoyed the assignment, you may want to read up on [music informatics](https://en.wikipedia.org/wiki/Music_informatics), which is how those audio features were actually calculated. The FMA includes the actual raw audio, so (while this is more of a longterm project than a stretch goal, and won't fit in Colab) if you'd like you can check those out and see what sort of deeper analysis you can do.