<a href="https://colab.research.google.com/github/valogonor/DS-Unit-2-Sprint-3-Advanced-Regression/blob/master/LS_DS_231_Logistic_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lambda School Data Science - Logistic Regression

Logistic regression is the baseline for classification models, as well as a handy way to predict probabilities (since those too live in the unit interval). While relatively simple, it is also the foundation for more sophisticated classification techniques such as neural networks (many of which can effectively be thought of as networks of logistic models).

## Lecture - Where Linear goes Wrong
### Return of the Titanic ðŸš¢

You've likely already explored the rich dataset that is the Titanic - let's use regression and try to predict survival with it. The data is [available from Kaggle](https://www.kaggle.com/c/titanic/data), so we'll also play a bit with [the Kaggle API](https://github.com/Kaggle/kaggle-api).

In [1]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.1.1)
Requirement already satisfied: urllib3<1.23.0,>=1.15 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.22)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.11.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2018.11.29)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.5.3)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.18.4)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.28.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.0.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<2.7,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.6)
Requirement already satisfied: Unidecode>=0.04.16 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.0.23)

In [2]:
# Note - you'll also have to sign up for Kaggle and authorize the API
# https://github.com/Kaggle/kaggle-api#api-credentials

# This essentially means uploading a kaggle.json file
# For Colab we can have it in Google Drive
from google.colab import drive
drive.mount('/content/drive')
%env KAGGLE_CONFIG_DIR=/content/drive/My Drive/

# You also have to join the Titanic competition to have access to the data
# !kaggle competitions download -c titanic

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
Â·Â·Â·Â·Â·Â·Â·Â·Â·Â·
Mounted at /content/drive
env: KAGGLE_CONFIG_DIR=/content/drive/My Drive/

In [3]:
!kaggle competitions download -c titanic

Downloading train.csv to /content
  0% 0.00/59.8k [00:00<?, ?B/s]
100% 59.8k/59.8k [00:00<00:00, 18.9MB/s]
Downloading test.csv to /content
  0% 0.00/28.0k [00:00<?, ?B/s]
100% 28.0k/28.0k [00:00<00:00, 23.3MB/s]
Downloading gender_submission.csv to /content
  0% 0.00/3.18k [00:00<?, ?B/s]
100% 3.18k/3.18k [00:00<00:00, 3.12MB/s]

In [4]:
# How would we try to do this with linear regression?
import pandas as pd

train_df = pd.read_csv('train.csv').dropna()
test_df = pd.read_csv('test.csv').dropna()  # Unlabeled, for Kaggle submission

train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S

In [5]:
train_df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000
mean,455.366120,0.672131,1.191257,35.674426,0.464481,0.475410,78.682469
std,247.052476,0.470725,0.515187,15.643866,0.644159,0.754617,76.347843
min,2.000000,0.000000,1.000000,0.920000,0.000000,0.000000,0.000000
25%,263.500000,0.000000,1.000000,24.000000,0.000000,0.000000,29.700000
50%,457.000000,1.000000,1.000000,36.000000,0.000000,0.000000,57.000000
75%,676.000000,1.000000,1.000000,47.500000,1.000000,1.000000,90.000000
max,890.000000,1.000000,3.000000,80.000000,3.000000,4.000000,512.329200

In [6]:
from sklearn.linear_model import LinearRegression

X = train_df[['Pclass', 'Age', 'Fare']]
y = train_df.Survived

linear_reg = LinearRegression().fit(X, y)
linear_reg.score(X, y)

0.08389810726550917

In [7]:
linear_reg.predict(test_df[['Pclass', 'Age', 'Fare']])

array([0.79543117, 0.58610823, 0.67595121, 0.793829  , 0.62090522,
       0.72542107, 0.59848968, 0.58734245, 0.48567063, 0.77627736,
       0.84211887, 0.57052439, 0.7754689 , 0.96621114, 0.70287941,
       0.57673837, 0.72321391, 0.75894755, 0.77968041, 0.50246003,
       0.49858077, 0.7474959 , 0.3542282 , 0.61648435, 0.71300224,
       0.66294608, 0.53175333, 0.77397395, 0.68419387, 0.68395536,
       0.52041202, 0.56814038, 0.79586606, 0.81372012, 0.61068545,
       0.57260627, 0.52525981, 0.58055388, 0.45584728, 0.67976208,
       0.8226707 , 0.84286197, 0.96189157, 0.66724612, 0.68589478,
       0.61846513, 0.63455044, 0.68275686, 0.65738372, 0.45198998,
       0.59988596, 0.63845908, 0.63132487, 0.7888473 , 0.60126246,
       0.79714045, 0.78713803, 0.54643775, 0.42823635, 0.7711724 ,
       0.53552976, 0.55608044, 0.54480459, 0.57031915, 0.65080369,
       0.77958926, 0.6371013 , 0.70993488, 0.71493598, 0.60375943,
       0.54407206, 0.48186138, 0.76576089, 0.75456305, 0.53968359,
       0.53814461, 0.51431245, 0.80091026, 0.54231482, 0.8260362 ,
       0.58660686, 0.77766767, 0.60296337, 0.70098322, 0.63455044,
       0.68309915, 0.67573142])

In [8]:
linear_reg.coef_

array([-0.08596295, -0.00829314,  0.00048775])

In [9]:
import numpy as np

test_case = np.array([[1, 5, 500]])  # Rich 5-year old in first class
linear_reg.predict(test_case)

array([1.14845883])

In [10]:
from sklearn.linear_model import LogisticRegression

log_reg = LogisticRegression().fit(X, y)
log_reg.score(X, y)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.7103825136612022

In [11]:
log_reg.predict(test_df[['Pclass', 'Age', 'Fare']])

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [12]:
log_reg.predict(test_case)[0]

1

In [13]:
help(log_reg.predict)

Help on method predict in module sklearn.linear_model.base:

predict(X) method of sklearn.linear_model.logistic.LogisticRegression instance
    Predict class labels for samples in X.

    Parameters
    ----------
    X : array_like or sparse matrix, shape (n_samples, n_features)
        Samples.

    Returns
    -------
    C : array, shape [n_samples]
        Predicted class label per sample.

In [14]:
log_reg.predict_proba(test_case)[0]

array([0.02485552, 0.97514448])

In [15]:
# What's the math?
log_reg.coef_

array([[-0.0455017 , -0.02912513,  0.0048037 ]])

In [16]:
log_reg.intercept_

array([1.45878264])

In [0]:
# The logistic sigmoid "squishing" function, implemented to accept numpy arrays
def sigmoid(x):
  return 1 / (1 + np.e**(-x))

In [18]:
sigmoid(log_reg.intercept_ + np.dot(log_reg.coef_, np.transpose(test_case)))

array([[0.97514448]])

So, clearly a more appropriate model in this situation! For more on the math, [see this Wikipedia example](https://en.wikipedia.org/wiki/Logistic_regression#Probability_of_passing_an_exam_versus_hours_of_study).

For live - let's tackle [another classification dataset on absenteeism](http://archive.ics.uci.edu/ml/datasets/Absenteeism+at+work) - it has 21 classes, but remember, scikit-learn LogisticRegression automatically handles more than two classes. How? By essentially treating each label as different (1) from some base class (0).

In [0]:
# Live - let's try absenteeism!

## Assignment - real-world classification

We're going to check out a larger dataset - the [FMA Free Music Archive data](https://github.com/mdeff/fma). It has a selection of CSVs with metadata and calculated audio features that you can load and try to use to classify genre of tracks. To get you started:

In [1]:
!wget https://os.unil.cloud.switch.ch/fma/fma_metadata.zip
!unzip fma_metadata.zip

--2019-01-22 20:43:39--  https://os.unil.cloud.switch.ch/fma/fma_metadata.zip
Resolving os.unil.cloud.switch.ch (os.unil.cloud.switch.ch)... 86.119.28.13, 2001:620:5ca1:2ff::ce53
Connecting to os.unil.cloud.switch.ch (os.unil.cloud.switch.ch)|86.119.28.13|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 358412441 (342M) [application/zip]
Saving to: â€˜fma_metadata.zipâ€™

fma_metadata.zip    100%[===================>] 341.81M  18.7MB/s    in 31s

2019-01-22 20:44:12 (10.9 MB/s) - â€˜fma_metadata.zipâ€™ saved [358412441/358412441]

Archive:  fma_metadata.zip
 bunzipping: fma_metadata/README.txt
 bunzipping: fma_metadata/checksums
 bunzipping: fma_metadata/not_found.pickle
 bunzipping: fma_metadata/raw_genres.csv
 bunzipping: fma_metadata/raw_albums.csv
 bunzipping: fma_metadata/raw_artists.csv
 bunzipping: fma_metadata/raw_tracks.csv
 bunzipping: fma_metadata/tracks.csv
 bunzipping: fma_metadata/genres.csv
 bunzipping: fma_metadata/raw_echonest.csv
 bunzipping: fma_metadata/echonest.csv
 bunzipping: fma_metadata/features.csv

In [0]:
import pandas as pd
tracks = pd.read_csv('fma_metadata/tracks.csv', header=[0,1], index_col=0)

In [41]:
tracks.isna().sum()

album   comments                  0
        date_created           3529
        date_released         36280
        engineer              91279
        favorites                 0
        id                        0
        information           23425
        listens                   0
        producer              88514
        tags                      0
        title                  1025
        tracks                    0
        type                   6508
artist  active_year_begin     83863
        active_year_end      101199
        associated_labels     92303
        bio                   35418
        comments                  0
        date_created            856
        favorites                 0
        id                        0
        latitude              62030
        location              36364
        longitude             62030
        members               59725
        name                      0
        related_projects      93422
        tags                      0
        website               27318
        wikipedia_page       100993
set     split                     0
        subset                    0
track   bit_rate                  0
        comments                  0
        composer             102904
        date_created              0
        date_recorded        100415
        duration                  0
        favorites                 0
        genre_top             56976
        genres                    0
        genres_all                0
        information          104225
        interest                  0
        language_code         91550
        license                  87
        listens                   0
        lyricist             106263
        number                    0
        publisher            105311
        tags                      0
        title                     1
dtype: int64

In [42]:
tracks.describe()

               album                                              \
            comments      favorites             id       listens
count  106574.000000  106574.000000  106574.000000  1.065740e+05
mean        0.394946       1.286927   12826.933914  3.212031e+04
std         2.268915       3.133035    6290.261805  1.478532e+05
min        -1.000000      -1.000000      -1.000000 -1.000000e+00
25%         0.000000       0.000000    7793.000000  3.361000e+03
50%         0.000000       0.000000   13374.000000  8.982000e+03
75%         0.000000       1.000000   18203.000000  2.363500e+04
max        53.000000      61.000000   22940.000000  3.564243e+06

                             artist                                \
              tracks       comments      favorites             id
count  106574.000000  106574.000000  106574.000000  106574.000000
mean       19.721452       1.894702      30.041915   12036.770404
std        39.943673       6.297679     100.511408    6881.420867
min        -1.000000      -1.000000      -1.000000       1.000000
25%         7.000000       0.000000       1.000000    6443.000000
50%        11.000000       0.000000       5.000000   12029.500000
75%        17.000000       1.000000      16.000000   18011.000000
max       652.000000      79.000000     963.000000   24357.000000

                                           track                 \
           latitude     longitude       bit_rate       comments
count  44544.000000  44544.000000  106574.000000  106574.000000
mean      39.901626    -38.668642  263274.695048       0.031621
std       18.240860     65.237220   67623.443584       0.321993
min      -45.878760   -157.526855      -1.000000       0.000000
25%       39.271398    -79.997459  192000.000000       0.000000
50%       41.387917    -73.554431  299914.000000       0.000000
75%       48.856930      4.351710  320000.000000       0.000000
max       67.286005    175.277000  448000.000000      37.000000

                                                                  \
            duration      favorites      interest        listens
count  106574.000000  106574.000000  1.065740e+05  106574.000000
mean      277.849100       3.182521  3.541310e+03    2329.353548
std       305.518553      13.513820  1.901743e+04    8028.070647
min         0.000000       0.000000  2.000000e+00       0.000000
25%       149.000000       0.000000  5.990000e+02     292.000000
50%       216.000000       1.000000  1.314000e+03     764.000000
75%       305.000000       3.000000  3.059000e+03    2018.000000
max     18350.000000    1482.000000  3.293557e+06  543252.000000


              number
count  106574.000000
mean        8.260945
std        15.243271
min         0.000000
25%         2.000000
50%         5.000000
75%         9.000000
max       255.000000

In [43]:
pd.set_option('display.max_columns', None)  # Unlimited columns
tracks.head()

            album                                                     \
         comments         date_created        date_released engineer
track_id
2               0  2008-11-26 01:44:45  2009-01-05 00:00:00      NaN
3               0  2008-11-26 01:44:45  2009-01-05 00:00:00      NaN
5               0  2008-11-26 01:44:45  2009-01-05 00:00:00      NaN
10              0  2008-11-26 01:45:08  2008-02-06 00:00:00      NaN
20              0  2008-11-26 01:45:05  2009-01-06 00:00:00      NaN

                                                                          \
         favorites id                                information listens
track_id
2                4  1                                    <p></p>    6073
3                4  1                                    <p></p>    6073
5                4  1                                    <p></p>    6073
10               4  6                                        NaN   47632
20               2  4  <p>Â "spiritual songs" from Nicky Cook</p>    2710

                                                            \
         producer tags                 title tracks   type
track_id
2             NaN   []  AWOL - A Way Of Life      7  Album
3             NaN   []  AWOL - A Way Of Life      7  Album
5             NaN   []  AWOL - A Way Of Life      7  Album
10            NaN   []     Constant Hitmaker      2  Album
20            NaN   []                 Niris     13  Album

                       artist                       \
            active_year_begin      active_year_end
track_id
2         2006-01-01 00:00:00                  NaN
3         2006-01-01 00:00:00                  NaN
5         2006-01-01 00:00:00                  NaN
10                        NaN                  NaN
20        1990-01-01 00:00:00  2011-01-01 00:00:00

                                                             \
                                          associated_labels
track_id
2                                                       NaN
3                                                       NaN
5                                                       NaN
10        Mexican Summer, Richie Records, Woodsist, Skul...
20                                                      NaN

                                                                      \
                                                        bio comments
track_id
2         <p>A Way Of Life, A Collective of Hip-Hop from...        0
3         <p>A Way Of Life, A Collective of Hip-Hop from...        0
5         <p>A Way Of Life, A Collective of Hip-Hop from...        0
10        <p><span style="font-family:Verdana, Geneva, A...        3
20        <p>Songs written by: Nicky Cook</p>\n<p>VOCALS...        2

                                                                           \
                 date_created favorites id   latitude            location
track_id
2         2008-11-26 01:42:32         9  1  40.058324          New Jersey
3         2008-11-26 01:42:32         9  1  40.058324          New Jersey
5         2008-11-26 01:42:32         9  1  40.058324          New Jersey
10        2008-11-26 01:42:55        74  6        NaN                 NaN
20        2008-11-26 01:42:52        10  4  51.895927  Colchester England

                                                                        \
          longitude                                            members
track_id
2        -74.405661  Sajje Morocco,Brownbum,ZawidaGod,Custodian of ...
3        -74.405661  Sajje Morocco,Brownbum,ZawidaGod,Custodian of ...
5        -74.405661  Sajje Morocco,Brownbum,ZawidaGod,Custodian of ...
10              NaN                           Kurt Vile, the Violators
20         0.891874                                       Nicky Cook\n

                                                                         \
                name                                   related_projects
track_id
2               AWOL  The list of past projects is 2 long but every1...
3               AWOL  The list of past projects is 2 long but every1...
5               AWOL  The list of past projects is 2 long but every1...
10         Kurt Vile                                                NaN
20        Nicky Cook                                                NaN

                                                             \
                                                       tags
track_id
2                                                  ['awol']
3                                                  ['awol']
5                                                  ['awol']
10                                  ['philly', 'kurt vile']
20        ['instrumentals', 'experimental pop', 'post pu...

                                                                       set  \
                                          website wikipedia_page     split
track_id
2         http://www.AzillionRecords.blogspot.com            NaN  training
3         http://www.AzillionRecords.blogspot.com            NaN  training
5         http://www.AzillionRecords.blogspot.com            NaN  training
10                            http://kurtvile.com            NaN  training
20                                            NaN            NaN  training

                    track                                           \
          subset bit_rate comments   composer         date_created
track_id
2          small   256000        0        NaN  2008-11-26 01:48:12
3         medium   256000        0        NaN  2008-11-26 01:48:14
5          small   256000        0        NaN  2008-11-26 01:48:20
10         small   192000        0  Kurt Vile  2008-11-25 17:49:06
20         large   256000        0        NaN  2008-11-26 01:48:56

                                                                       \
                date_recorded duration favorites genre_top     genres
track_id
2         2008-11-26 00:00:00      168         2   Hip-Hop       [21]
3         2008-11-26 00:00:00      237         1   Hip-Hop       [21]
5         2008-11-26 00:00:00      206         6   Hip-Hop       [21]
10        2008-11-26 00:00:00      161       178       Pop       [10]
20        2008-01-01 00:00:00      311         0       NaN  [76, 103]

                                                                \
                 genres_all information interest language_code
track_id
2                      [21]         NaN     4656            en
3                      [21]         NaN     1470            en
5                      [21]         NaN     1933            en
10                     [10]         NaN    54881            en
20        [17, 10, 76, 103]         NaN      978            en

                                                                              \
                                                    license listens lyricist
track_id
2         Attribution-NonCommercial-ShareAlike 3.0 Inter...    1293      NaN
3         Attribution-NonCommercial-ShareAlike 3.0 Inter...     514      NaN
5         Attribution-NonCommercial-ShareAlike 3.0 Inter...    1151      NaN
10        Attribution-NonCommercial-NoDerivatives (aka M...   50135      NaN
20        Attribution-NonCommercial-NoDerivatives (aka M...     361      NaN


         number publisher tags            title
track_id
2             3       NaN   []             Food
3             4       NaN   []     Electric Ave
5             6       NaN   []       This World
10            1       NaN   []          Freeway
20            3       NaN   []  Spiritual Level

In [44]:
tracks.shape

(106574, 52)

In [45]:
tracks.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 106574 entries, 2 to 155320
Data columns (total 52 columns):
(album, comments)              106574 non-null int64
(album, date_created)          103045 non-null object
(album, date_released)         70294 non-null object
(album, engineer)              15295 non-null object
(album, favorites)             106574 non-null int64
(album, id)                    106574 non-null int64
(album, information)           83149 non-null object
(album, listens)               106574 non-null int64
(album, producer)              18060 non-null object
(album, tags)                  106574 non-null object
(album, title)                 105549 non-null object
(album, tracks)                106574 non-null int64
(album, type)                  100066 non-null object
(artist, active_year_begin)    22711 non-null object
(artist, active_year_end)      5375 non-null object
(artist, associated_labels)    14271 non-null object
(artist, bio)                  71156 non-null object
(artist, comments)             106574 non-null int64
(artist, date_created)         105718 non-null object
(artist, favorites)            106574 non-null int64
(artist, id)                   106574 non-null int64
(artist, latitude)             44544 non-null float64
(artist, location)             70210 non-null object
(artist, longitude)            44544 non-null float64
(artist, members)              46849 non-null object
(artist, name)                 106574 non-null object
(artist, related_projects)     13152 non-null object
(artist, tags)                 106574 non-null object
(artist, website)              79256 non-null object
(artist, wikipedia_page)       5581 non-null object
(set, split)                   106574 non-null object
(set, subset)                  106574 non-null object
(track, bit_rate)              106574 non-null int64
(track, comments)              106574 non-null int64
(track, composer)              3670 non-null object
(track, date_created)          106574 non-null object
(track, date_recorded)         6159 non-null object
(track, duration)              106574 non-null int64
(track, favorites)             106574 non-null int64
(track, genre_top)             49598 non-null object
(track, genres)                106574 non-null object
(track, genres_all)            106574 non-null object
(track, information)           2349 non-null object
(track, interest)              106574 non-null int64
(track, language_code)         15024 non-null object
(track, license)               106487 non-null object
(track, listens)               106574 non-null int64
(track, lyricist)              311 non-null object
(track, number)                106574 non-null int64
(track, publisher)             1263 non-null object
(track, tags)                  106574 non-null object
(track, title)                 106573 non-null object
dtypes: float64(2), int64(15), object(35)
memory usage: 43.1+ MB

In [46]:
tracks.select_dtypes('number').isna().sum()

album   comments         0
        favorites        0
        id               0
        listens          0
        tracks           0
artist  comments         0
        favorites        0
        id               0
        latitude     62030
        longitude    62030
track   bit_rate         0
        comments         0
        duration         0
        favorites        0
        interest         0
        listens          0
        number           0
dtype: int64

In [51]:
columns = [('track', 'genre_top'), ('album', 'comments'), ('album', 'favorites'), ('album', 'id'), ('album', 'listens'), ('album', 'tracks'), ('artist', 'comments'),
           ('artist', 'favorites'), ('artist', 'id'), ('track', 'bit_rate'), ('track', 'comments'), ('track', 'duration'), ('track', 'favorites'), ('track', 'interest'),
           ('track', 'listens'), ('track', 'number')]
tracks = tracks[columns]
tracks.head()

             track    album                               artist               \
         genre_top comments favorites id listens tracks comments favorites id
track_id
2          Hip-Hop        0         4  1    6073      7        0         9  1
3          Hip-Hop        0         4  1    6073      7        0         9  1
5          Hip-Hop        0         4  1    6073      7        0         9  1
10             Pop        0         4  6   47632      2        3        74  6
20             NaN        0         2  4    2710     13        2        10  4

            track
         bit_rate comments duration favorites interest listens number
track_id
2          256000        0      168         2     4656    1293      3
3          256000        0      237         1     1470     514      4
5          256000        0      206         6     1933    1151      6
10         192000        0      161       178    54881   50135      1
20         256000        0      311         0      978     361      3

In [54]:
tracks.isna().sum()

track   genre_top    56976
album   comments         0
        favorites        0
        id               0
        listens          0
        tracks           0
artist  comments         0
        favorites        0
        id               0
track   bit_rate         0
        comments         0
        duration         0
        favorites        0
        interest         0
        listens          0
        number           0
dtype: int64

In [58]:
tracks = tracks.dropna()
tracks.shape

(49598, 16)

In [59]:
tracks.dtypes

track   genre_top    object
album   comments      int64
        favorites     int64
        id            int64
        listens       int64
        tracks        int64
artist  comments      int64
        favorites     int64
        id            int64
track   bit_rate      int64
        comments      int64
        duration      int64
        favorites     int64
        interest      int64
        listens       int64
        number        int64
dtype: object

In [53]:
tracks[('track', 'genre_top')].value_counts()

Rock                   14182
Experimental           10608
Electronic              9372
Hip-Hop                 3552
Folk                    2803
Pop                     2332
Instrumental            2079
International           1389
Classical               1230
Jazz                     571
Old-Time / Historic      554
Spoken                   423
Country                  194
Soul-RnB                 175
Blues                    110
Easy Listening            24
Name: (track, genre_top), dtype: int64

In [63]:
from sklearn.preprocessing import LabelEncoder

#Auto encodes any dataframe column of type category or object.

def dummyEncode(df):
       columnsToEncode = list(df.select_dtypes(include=['category','object']))
       le = LabelEncoder()
       for feature in columnsToEncode:
           try:
               df[feature] = le.fit_transform(df[feature])
           except:
               print('Error encoding '+feature)
       return df
dummyEncode(tracks)
tracks.describe()

              track         album                                            \
          genre_top      comments     favorites            id       listens
count  49598.000000  49598.000000  49598.000000  49598.000000  4.959800e+04
mean       7.983830      0.333179      1.145449  11813.603351  1.997469e+04
std        3.921259      1.312889      2.463242   6455.900325  5.736980e+04
min        0.000000     -1.000000     -1.000000     -1.000000 -1.000000e+00
25%        5.000000      0.000000      0.000000   6530.000000  2.602000e+03
50%        7.000000      0.000000      0.000000  11887.000000  6.092000e+03
75%       13.000000      0.000000      1.000000  17410.000000  1.621900e+04
max       15.000000     17.000000     40.000000  22940.000000  1.193803e+06

                          artist                                      track  \
             tracks     comments     favorites            id       bit_rate
count  49598.000000  49598.00000  49598.000000  49598.000000   49598.000000
mean      21.763035      1.16291     16.721602  11400.403786  260278.657930
std       51.492489      4.18622     58.966302   7046.466624   65663.862632
min       -1.000000     -1.00000     -1.000000      1.000000      -1.000000
25%        7.000000      0.00000      1.000000   5449.000000  192000.000000
50%       11.000000      0.00000      4.000000  11384.000000  256000.000000
75%       17.000000      1.00000     12.000000  17450.000000  320000.000000
max      652.000000     68.00000    963.000000  24357.000000  448000.000000

                                                                              \
           comments      duration     favorites      interest        listens
count  49598.000000  49598.000000  49598.000000  4.959800e+04   49598.000000
mean       0.024336    268.627263      2.381447  2.523905e+03    1586.328380
std        0.332693    284.327919     11.147578  1.980285e+04    6039.952955
min        0.000000      0.000000      0.000000  2.000000e+00       1.000000
25%        0.000000    146.000000      0.000000  4.560000e+02     212.000000
50%        0.000000    211.000000      1.000000  9.380000e+02     520.000000
75%        0.000000    299.000000      2.000000  2.091000e+03    1321.000000
max       37.000000  11030.000000   1482.000000  3.293557e+06  543252.000000


             number
count  49598.000000
mean       8.545607
std       16.988260
min        0.000000
25%        2.000000
50%        5.000000
75%        9.000000
max      255.000000

In [0]:
# import seaborn as sns
# x_columns = tracks.columns.drop('SalePrice')
# sns.pairplot(housing, x_vars=x_columns, y_vars=['SalePrice']);

In [0]:
# X = ['interest', 'name', 'duration', 'listens']
# y = ['genre_top']

This is the biggest data you've played with so far, and while it does generally fit in Colab, it can take awhile to run. That's part of the challenge!

Your tasks:
- Clean up the variable names in the dataframe
- Use logistic regression to fit a model predicting (primary/top) genre
- Inspect, iterate, and improve your model
- Answer the following questions (written, ~paragraph each):
  - What are the best predictors of genre?
  - What information isn't very useful for predicting genre?
  - What surprised you the most about your results?

*Important caveats*:
- This is going to be difficult data to work with - don't let the perfect be the enemy of the good!
- Be creative in cleaning it up - if the best way you know how to do it is download it locally and edit as a spreadsheet, that's OK!
- If the data size becomes problematic, consider sampling/subsetting
- You do not need perfect or complete results - just something plausible that runs, and that supports the reasoning in your written answers

If you find that fitting a model to classify *all* genres isn't very good, it's totally OK to limit to the most frequent genres, or perhaps trying to combine or cluster genres as a preprocessing step. Even then, there will be limits to how good a model can be with just this metadata - if you really want to train an effective genre classifier, you'll have to involve the other data (see stretch goals).

This is real data - there is no "one correct answer", so you can take this in a variety of directions. Just make sure to support your findings, and feel free to share them as well! This is meant to be practice for dealing with other "messy" data, a common task in data science.

## Resources and stretch goals

- Check out the other .csv files from the FMA dataset, and see if you can join them or otherwise fit interesting models with them
- [Logistic regression from scratch in numpy](https://blog.goodaudience.com/logistic-regression-from-scratch-in-numpy-5841c09e425f) - if you want to dig in a bit more to both the code and math (also takes a gradient descent approach, introducing the logistic loss function)
- Create a visualization to show predictions of your model - ideally show a confidence interval based on error!
- Check out and compare classification models from scikit-learn, such as [SVM](https://scikit-learn.org/stable/modules/svm.html#classification), [decision trees](https://scikit-learn.org/stable/modules/tree.html#classification), and [naive Bayes](https://scikit-learn.org/stable/modules/naive_bayes.html). The underlying math will vary significantly, but the API (how you write the code) and interpretation will actually be fairly similar.
- Sign up for [Kaggle](https://kaggle.com), and find a competition to try logistic regression with
- (Not logistic regression related) If you enjoyed the assignment, you may want to read up on [music informatics](https://en.wikipedia.org/wiki/Music_informatics), which is how those audio features were actually calculated. The FMA includes the actual raw audio, so (while this is more of a longterm project than a stretch goal, and won't fit in Colab) if you'd like you can check those out and see what sort of deeper analysis you can do.