<a href="https://colab.research.google.com/github/rick1270/DS-Unit-2-Sprint-3-Advanced-Regression/blob/master/RClayton_DS_Unit_2_Sprint_Challenge_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Unit 2 Sprint Challenge 3

## Logistic Regression and Beyond

In this sprint challenge you will fit a logistic regression modeling the probability of an adult having an income above 50K. The dataset is available at UCI:

https://archive.ics.uci.edu/ml/datasets/adult

Your goal is to:

1. Load, validate, and clean/prepare the data.
2. Fit a logistic regression model
3. Answer questions based on the results (as well as a few extra questions about the other modules)

Don't let the perfect be the enemy of the good! Manage your time, and make sure to get to all parts. If you get stuck wrestling with the data, simplify it (if necessary, drop features or rows) so you're able to move on. If you have time at the end, you can go back and try to fix/improve.

### Hints

It has a variety of features - some are continuous, but many are categorical. You may find [pandas.get_dummies](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.get_dummies.html) (a method to one-hot encode) helpful!

The features have dramatically different ranges. You may find [sklearn.preprocessing.minmax_scale](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.minmax_scale.html#sklearn.preprocessing.minmax_scale) helpful!

## Part 1 - Load, validate, and prepare data

The data is available at: https://archive.ics.uci.edu/ml/datasets/adult

Load it, name the columns, and make sure that you've loaded the data successfully. Note that missing values for categorical variables can essentially be considered another category ("unknown"), and may not need to be dropped.

You should also prepare the data for logistic regression - one-hot encode categorical features as appropriate.

In [0]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn import preprocessing

In [0]:
df_URL = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'
df = pd.read_csv(df_URL, header = None)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [0]:
df.rename(columns={0 : 'age', 1 : 'workclass', 2 : 'fnlwgt', 3 : 'education', 4 : 'education-num', 5 : 'marital-status', 6 : 'occupation', 7 : 'relationship', 8: 'race', 9 : 'sex', 10 : 'capital-gain', 11 : 'capital-loss', 12 : 'hours-per-week', 13 : 'native-country', 14 : '>50K'}, inplace = True)
print(df.shape)
df.head()

(32561, 15)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,>50K
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [0]:
df.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [0]:
df.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
>50K              object
dtype: object

In [0]:
df.isna().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
>50K              0
dtype: int64

In [0]:
df.nunique()

age                  73
workclass             9
fnlwgt            21648
education            16
education-num        16
marital-status        7
occupation           15
relationship          6
race                  5
sex                   2
capital-gain        119
capital-loss         92
hours-per-week       94
native-country       42
>50K                  2
dtype: int64

In [0]:
df.replace(['<=50K', '>50K'], [0, 1])
#wtf?!?! replace not working... time for plan b
#Leave ? as own catagories
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,>50K
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [0]:
dummies = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country', '>50K']
df2 = pd.get_dummies(data = df, columns = dummies)
#plan b
df2.drop('>50K_ <=50K', axis = 'columns', inplace = True)
df2.rename(columns = {'>50K_ >50K' : '>50K'}, inplace = True)
df2.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,...,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia,>50K
0,39,77516,13,2174,0,40,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,50,83311,13,0,0,13,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,38,215646,9,0,0,40,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,53,234721,7,0,0,40,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,28,338409,13,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Part 2 - Fit and present a Logistic Regression

Your data should now be in a state to fit a logistic regression. Use scikit-learn, define your `X` (independent variable) and `y`, and fit a model.

Then, present results - display coefficients in as interpretible a way as you can (hint - scaling the numeric features will help, as it will at least make coefficients more comparable to each other). If you find it helpful for interpretation, you can also generate predictions for cases (like our 5 year old rich kid on the Titanic) or make visualizations - but the goal is your exploration to be able to answer the question, not any particular plot (i.e. don't worry about polishing it).

It is *optional* to use `train_test_split` or validate your model more generally - that is not the core focus for this week. So, it is suggested you focus on fitting a model first, and if you have time at the end you can do further validation.

In [0]:
X = df2.drop('>50K', axis = 'columns')
y = df2['>50K']

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=43)

print (X_train.shape)
print (X_test.shape)
print (y_train.shape)
print (y_test.shape)

(16280, 108)
(16281, 108)
(16280,)
(16281,)

In [0]:
log_reg = LogisticRegression().fit(X, y)
log_reg.score(X, y)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.7977949080187955

In [0]:
log_reg.predict(X)

array([0, 0, 0, ..., 0, 0, 1], dtype=uint8)

In [0]:
log_reg.coef_

array([[-7.06475186e-03, -3.70332534e-06, -1.75788040e-03,
         3.38260722e-04,  7.78939274e-04, -8.22010557e-03,
        -1.03643990e-04,  2.75956197e-05,  3.93884046e-06,
        -5.09290616e-07, -4.56500845e-04,  6.95618120e-05,
        -2.04571470e-05, -8.83099656e-06, -1.29201713e-06,
        -5.85742086e-05, -8.15717756e-05, -2.64048987e-05,
        -9.85817251e-06, -1.93196003e-05, -4.28217938e-05,
        -3.25724875e-05, -1.10815161e-05, -1.42707265e-05,
         1.79591041e-04,  4.98295934e-05, -3.85065010e-04,
         1.17965954e-04, -3.86366187e-06,  5.69526602e-05,
        -2.09073412e-04, -2.51729664e-04,  1.23507289e-06,
         6.83407867e-04, -2.53319579e-05, -7.69672504e-04,
        -6.37934566e-05, -6.42533731e-05, -1.04153281e-04,
        -1.67031875e-04, -3.71588191e-07, -6.68153566e-05,
         2.08996468e-04, -5.81911096e-05, -8.50976507e-05,
        -8.88210432e-05, -2.37383218e-04, -1.17697674e-05,
         1.65104090e-04,  1.27384120e-05, -2.56088950e-05,
         6.59151056e-06, -3.83247107e-05,  6.12664596e-04,
        -4.75962891e-04, -6.86616605e-05, -4.11468501e-04,
        -2.27354086e-04,  8.06445284e-05, -2.37127849e-05,
        -1.66604823e-05, -1.20418595e-04, -1.49345442e-05,
        -3.14411609e-04, -5.91109346e-04,  1.00971331e-04,
        -7.84000153e-06,  3.42529991e-07,  6.73952524e-07,
        -5.94444287e-07, -3.81282322e-06,  1.78300262e-06,
        -5.02055522e-06, -1.14980886e-06, -5.06465597e-06,
         1.07858389e-06,  1.45082095e-06,  1.43519024e-06,
        -1.11499389e-06, -3.30663322e-06, -1.94129547e-06,
        -2.60338743e-07, -5.58954391e-07,  5.71145030e-07,
        -3.12646525e-07,  2.24422438e-06,  1.12859226e-06,
        -8.27724773e-07,  1.65173747e-06, -2.93123097e-06,
         1.43660629e-06, -6.96020305e-07, -2.59083087e-05,
        -1.43870258e-06, -1.01393030e-06, -1.26562215e-06,
         3.61295211e-07, -1.46627596e-06, -2.21086881e-06,
        -5.37363190e-06, -1.23523557e-07, -3.27362336e-06,
         1.72422107e-06, -4.02300712e-07, -9.74901740e-07,
        -4.22584621e-04, -5.30113621e-06,  7.49657778e-07]])

In [0]:
from sklearn.metrics import accuracy_score

y_pred = log_reg.predict(X_test)

accuracy_score(y_test, y_pred)

0.8014249738959524

In [0]:
pd.crosstab(y_test, y_pred, rownames=['Actual'], colnames=['Predicted'], margins=True, normalize = True)

Predicted         0         1       All
Actual
0          0.739082  0.025920  0.765002
1          0.172655  0.062343  0.234998
All        0.911738  0.088262  1.000000

## Part 3 - Analysis, Interpretation, and Questions

### Based on your above model, answer the following questions

1. What are 3 features positively correlated with income above 50k?
Capital Gain, Native Country, occupation
2. What are 3 features negatively correlated with income above 50k?
Capital loss, race , and sex
3. Overall, how well does the model explain the data and what insights do you derive from it? I believe the model describes data well... I would like to spend more time plotting...  I base my answer on the accuracy score and predict v actual crosstab I created

*These answers count* - that is, make sure to spend some time on them, connecting to your analysis above. There is no single right answer, but as long as you support your reasoning with evidence you are on the right track.

Note - scikit-learn logistic regression does *not* automatically perform a hypothesis test on coefficients. That is OK - if you scale the data they are more comparable in weight.

### Match the following situation descriptions with the model most appropriate to addressing them

In addition to logistic regression, a number of other approaches were covered this week. Pair them with the situations they are most appropriate for, and briefly explain why.

Situations:
1. You are given data on academic performance of primary school students, and asked to fit a model to help predict "at-risk" students who are likely to receive the bottom tier of grades.
2. You are studying tech companies and their patterns in releasing new products, and would like to be able to model and predict when a new product is likely to be launched.
3. You are working on modeling expected plant size and yield with a laboratory that is able to capture fantastically detailed physical data about plants, but only of a few dozen plants at a time.

Approaches:
1. Ridge Regression
2. Quantile Regression
3. Survival Analysis

1.  Quantile Regression -  quantile regression estimates are more robust against outliers in the response measurements... hence the bottom teir/quantile is predicted

2. Survival Analysis -  This predicts the birth(launch) and death (discontinuation) of the products taking into account that some data may be cencored (ie. still in production)

3. Ridge Regression - this will serve to pare down the noise of multicollinearity and variance